<template>
  <v-app id="login">
    <v-layout justify-center align-center>
      <v-flex xs11 sm5 md4>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col cols="12" class="text-center py-0 mt-5">
                <img src="../../assets/img/lucatienda.png" style="width: 150px" />
                <h4 class="grey--text text-center">LUCA TIENDA</h4>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-alert
              class="mt-5 mb-1 text-start"
              border="left"
              color="red"
              type="info"
              dense
              text
              v-if="message != null"
            >
              {{ message }}
            </v-alert>
            <v-form ref="form" class="pa-2 mt-5" @submit.prevent="login">
              <v-text-field
                label="Usuario"
                prepend-icon="mdi-account"
                class="mt-2"
                v-model="form.user"
                :rules="[(val) => !!val || 'Ingrese el usuario']"
              ></v-text-field>
              <v-text-field
                label="Contraseña"
                prepend-icon="mdi-lock"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show ? 'text' : 'password'"
                class="mt-2 mb-5"
                :counter="form.password != ''"
                @click:append="show = !show"
                v-model="form.password"
                :rules="[(val) => !!val || 'Ingrese la contraseña']"
              >
              </v-text-field>
              <v-row>
                <v-col cols="12" class="text-center mb-5 mt-5">
                  <v-btn
                    type="submit"
                    color="primary"
                    medium
                    depressed
                    large
                    :loading="btnLogin"
                    :disabled="btnLogin"
                  >
                    {{ btnLogin ? "Iniciando..." : "Iniciar Sesión" }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</template>
<script>
export default {
  name: "Login",
  data: () => ({
    btnLogin: false,
    show: false,
    form: {
      user: null,
      password: null,
    },
    message: null,
  }),
  methods: {
    login() {
      if (!this.$refs.form.validate()) return;
      this.btnLogin = true;
      this.message = null;
      this.$store
        .dispatch("login", this.form)
        .then((res) => {
          if (this.$store.getters.isLoggedIn) {
            this.$router.push({ name: "Home" });
          } else {
            this.message = res.message;
            this.form.password = null;
            this.btnLogin = false;
          }
        })
        .catch((e) => {
          console.log(e);
          this.btnLogin = false;
        });
    },
  },
};
</script>

<style>
#login {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #182a3f; /* fallback for old browsers */
}
</style>
