.templateR {
	font-family: sans-serif;
}
.logo {
	text-align: left;
	margin-top: 20px;
	margin-left: 55px;
}
.nameReport {
	text-align: center;
	margin-top: 55px;
	font-size: 20px;
	text-transform: uppercase;
}
.headerR {
	text-align: left;
	margin-top: 10px;
	margin-left: 48px;
}
hr.report {
	height: 1px;
	border-color: none;
	background-color: #ccc;
	margin-left: 48px;
	margin-right: 70px;
	margin-top: 10px;
}
.tableR {
	color: black;
	margin-top: 25px;
	margin-right: 60px;
	margin-left: 38px;
}
.table-content {
	text-align: right;
}

.table-block tr {
	page-break-inside: avoid;
}
