<template>
	<v-main>
		<v-card>
			<v-card-text>
				<template>
          <v-toolbar flat>
            <v-toolbar-title>Reporte de Caja General</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  color="grey"
                  class="mr-4"
                  v-on="{ ...tooltip }"
                  @click="reloadData"
                >
                  <v-icon small>fas fa-redo</v-icon>
                </v-btn>
              </template>
              <span>Recargar</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-flex md3 xs10 sm4 class="mt-10">
							<v-menu
							v-model="menu"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="startDate"
									label="Fecha inicio"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fdel"
								@input="menu = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
						<v-flex md3 xs10 sm4 class="mt-10 mr-2">
							<v-menu
							v-model="menu2"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="endingDate"
									label="Fecha fin"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fal"
								@input="menu2 = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
						<v-btn color="primary" class="mr-1 white--text mt-5" @click="search" :disabled="btnSearch">Buscar
						</v-btn>			
						<v-tooltip bottom>
							<template v-slot:activator="{ on, attrs }">
								<v-btn color="red" v-bind="attrs" v-on="on" @click="generateReport" class="mt-5">
								<v-icon color="white" small>fas fa-file-pdf</v-icon>
								</v-btn>
							</template>
							<span>Descargar reporte</span>
						</v-tooltip>
          </v-toolbar>
        </template>

				<v-data-table
				class="mt-10"
				:headers="headers"
				:items="getData"
				:loading="btnSearch"
				loading-text="Buscando datos... Espere por favor">
					<template v-slot:item="{ item }">
						<tr>
							<td><span>{{ getData.indexOf(item) + 1 }}</span></td>
							<td class="text-md-start"> {{item.type}}</td>
							<td class="text-md-start"> 
								<span v-if="item.type == 'Transferencia'">
								{{getBranchOfficeBox(item.branchOffice)}} - 
								</span>{{item.description}}
							</td>
							<td class="text-md-end"> {{item.amount | numeral("0,0.00")}}</td>
							<td class="text-md-center"> {{ item.date | formatDate("DD/MM/YYYY") }}</td>
						</tr>
					</template>
					<template slot="body.append">
						<tr>
							<th colspan="4" class="text-center">Monto Total Caja General</th>
							<th class="text-md-center">{{getTotalGeneralBox.total | numeral("0,0.00")}}</th>
						</tr>
					</template>
				</v-data-table>
			</v-card-text>
		</v-card>

		<div id="templateReport">
			<vue-html2pdf
			:show-layout="false"
			:float-layout="true"
			:enable-download="true"
			:preview-modal="true"
			:paginate-elements-by-height="1400"
			:pdf-quality="1"
			pdf-content-width="800px"
			:manual-pagination="true"
			:html-to-pdf-options="htmlToPdfOptions"
			ref="html2Pdf">
				<section slot="pdf-content">					
					<div class="templateR">
						<div class="logo">
							<img src="@/assets/img/lucatienda.png" alt="" width="120px">
						</div>
						
						<div class="headerR">
							<p>
								<span style="font-size: 24px;">{{ $store.getters.company.description }}</span> <br>
								<b>Fecha: </b> {{getDate()}}
							</p>
						</div>
						<div class="nameReport">
							<span>Reporte de Caja General</span>
						</div>
						<hr class="report">
						<div class="tableR">
							<v-data-table
							dense
							class="table-block"
							:headers="headers"
							:items="getData"
							hide-default-footer
							disable-pagination>
								<template v-slot:item="{ item }">
									<tr>
										<td><span>{{ getData.indexOf(item) + 1 }}</span></td>
										<td class="text-md-start"> {{item.type}}</td>
										<td class="text-md-start"> 
											<span v-if="item.type == 'Transferencia'">
												{{getBranchOfficeBox(item.branchOffice)}} - 
											</span>{{item.description}}
										</td>
										<td class="text-md-end"> {{item.amount | numeral("0,0.00")}}</td>
										<td class="text-md-center"> {{ item.date | formatDate("DD/MM/YYYY") }}</td>
									</tr>
								</template>
								<template slot="body.append">
									<tr>
										<th colspan="4" class="text-center">Monto Total Caja General</th>
										<th class="table-content">{{getTotalGeneralBox.total | numeral("0,0.00")}}</th>
									</tr>
								</template>		
							</v-data-table>
						</div>
					</div>
				</section>
			</vue-html2pdf>
		</div>
		
	</v-main>
</template>

<script>
	import Action from '@/mixins/Action.js';
	import VueHtml2pdf from 'vue-html2pdf'
	import "@/assets/css/styleTemplate.css"
	import $ from 'jquery'

	export default {
		name:"ReportGeneralBox",
		mixins: [Action],
		data: () => ({
			listSpending: [],
			listBoxClose: [],
			listInvestment: [],
			listTransfer: [],
			listBox: [],
			branchofficeList: [],
			dateReport: null,
			menu: false,
			menu2: false,
			headers: [
				{text: '#', value:'index', sortable: false},
				{text: 'Tipo', value:'type'},
				{text: 'Descripción', value:'description'},
				{text: 'Monto', value:'amount'},
				{text: 'Fecha', value:'date', align:'center'}
			],
			htmlToPdfOptions: {}
		}),
		created() {
			this.getSpValues(
				"SP_GENERAL_BOXES",
				{ companyId: this.$store.getters.company.id },
				"generalBox"
			);			

			$("#templateReport").hide();
			this.searchSpending();
			this.searchInvestment();
			this.searchBox();
			this.searchBoxTransfer();
			this.searchBranchOffice();

			this.dateReport = this.getDate()
			this.htmlToPdfOptions = {
				margin:[15,0,15,0],
				filename: 'reporte-cierre-caja-'+this.dateReport+'.pdf',
				pagebreak: { mode: ['css'] },
				jsPDF: {
					format: 'letter',
					orientation: 'portrait'
				}
			}
		},
		methods: {
			generateReport () {
				this.$refs.html2Pdf.generatePdf()
			},
			searchSpending() {
				this.btnSearch = true
				this.$http
				.get(`${this.urlBase}/spending`, {params: this.bform})
				.then(r => {
					this.listSpending = r.data.list
					this.btnSearch = false
				}).catch(e => {
					console.log(e)
					this.btnSearch = false
				})
			},
			searchInvestment() {
				this.btnSearch = true
				this.$http
				.get(`${this.urlBase}/investment`, {params: this.bform})
				.then(r => {
					this.listInvestment = r.data.list.filter(e => e.generalBoxId !== null)
					this.btnSearch = false
				}).catch(e => {
					console.log(e)
					this.btnSearch = false
				})
			},
			searchBoxTransfer() {
				this.btnSearch = true
				this.$http
				.get(`${this.urlBase}/boxtransfer`, {params: this.bform})
				.then(r => {
					this.listTransfer = r.data.list
					this.btnSearch = false
				}).catch(e => {
					console.log(e)
					this.btnSearch = false
				})
			},
			searchBox() {
				this.btnSearch = true
				this.$http
				.get(`${this.urlBase}/box`)
				.then(r => {
					this.listBox = r.data.list
					this.btnSearch = false
				}).catch(e => {
					console.log(e)
					this.btnSearch = false
				})
			},
			searchBranchOffice() {
				this.btnSearch = true;
				this.$http
				.get(`${this.urlBase}/branchoffice`)
				.then((r) => {
					this.branchofficeList = r.data.list;
					this.btnSearch = false;
				})
				.catch((e) => {
					console.log(e);
					this.btnSearch = false;
				});
			},
			getBranchOfficeBox(id) {
				let nameBranchOffice = this.branchofficeList.filter(e => e.id == id);

				for(let i in nameBranchOffice) {
					return nameBranchOffice[i].description
				}
			},
			search() {
				this.searchSpending();
				this.searchInvestment();
				this.searchBoxTransfer();
			},
			reloadData() {
				this.bform = {}
				this.startDate = ''
				this.endingDate = ''
				this.search()
			}
		},
		computed: {
			getData(){
				let datos = []

				this.listSpending.forEach(e => {
					datos.push({
						type: 'Gasto',
						description: e.description,
						amount: e.amount,
						date: e.dateCreated
					});
				})

				this.listTransfer.forEach(e => {
					datos.push({
						type: 'Transferencia',
						description: e.box.description,
						amount: e.amount,
						date: e.dateCreated,
						branchOffice: e.box.branchOfficeId
					});
				})

				this.listInvestment.forEach(e => {
					datos.push({
						type: 'Inversión',
						description: e.description,
						amount: e.total,
						date: e.dateCreated
					});
				})

				return datos.sort((a, b) => new Date(a.date.split('T')[0]).getTime() - new Date(b.date.split('T')[0]).getTime());
			},
			getTotalGeneralBox () {
				let totalBox  = 0;
				let balance = 0;

				this.listBox.forEach(e => 
					totalBox += parseFloat(e.balance)
				)

				for(let i in this.catalogo.generalBox) {
					balance = this.catalogo.generalBox[i].balance;
				} 

				return {
					total: parseFloat(totalBox) + parseFloat(balance)
				};

			}
		},
		components: {
			VueHtml2pdf
		},
		watch: {
			'bform.fdel' (v) {
				if (v) {
					this.startDate = this.dateFormatInput(v);
				}
			},
			'bform.fal' (v) {
				if (v) {
					this.endingDate = this.dateFormatInput(v);
				}
			},
		}
	}
</script>