<template>
	<v-main>
		<v-card>
			<v-card-text>
				<template>
				<v-toolbar flat>
					<v-toolbar-title>Reporte de Cierre de Caja</v-toolbar-title>
					<v-divider class="mx-4" inset vertical></v-divider>
						<v-tooltip bottom>
							<template v-slot:activator="{ on: tooltip }">
								<v-btn
								icon
								color="grey"
								class="mr-4"
								v-on="{ ...tooltip }"
								@click="reloadData"
								>
								<v-icon small>fas fa-redo</v-icon>
								</v-btn>
							</template>
							<span>Recargar</span>
						</v-tooltip>
						<v-spacer></v-spacer>
						<v-flex md3 xs10 sm4 class="mt-10 mr-1">
							<v-select
							v-model="branchOffice"
							:items="branchofficeList"
							item-text="description"
							item-value="id"
							placeholder="Sucursal">								
							</v-select>
						</v-flex>
						<v-flex md3 xs10 sm4 class="mt-10">
							<v-menu
							v-model="menu"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="startDate"
									label="Fecha inicio"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fdel"
								@input="menu = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
						<v-flex md3 xs10 sm4 class="mt-10 mr-2">
							<v-menu
							v-model="menu2"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="endingDate"
									label="Fecha fin"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fal"
								@input="menu2 = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
						<v-btn color="primary" class="mr-1 white--text mt-5" @click="search" :disabled="btnSearch">Buscar
						</v-btn>	
						<v-tooltip bottom>
							<template v-slot:activator="{ on, attrs }">
								<v-btn color="red" v-bind="attrs" v-on="on" @click="generateReport" class="mt-5">
									<v-icon color="white" small>fas fa-file-pdf</v-icon>
								</v-btn>
							</template>
							<span>Descargar reporte</span>
						</v-tooltip>
				</v-toolbar>
				</template>

				<v-data-table
				:headers="headers"
				:items="filtered"
				:loading="btnSearch"
				loading-text="Buscando datos... Espere por favor"
				class="mt-10">
					<template v-slot:item="{ item }">
						<tr>
							<td><span>{{ filtered.indexOf(item) + 1 }}</span></td>
							<td class="text-md-start"> {{getBranchOfficeBox(item.box.branchOfficeId)}} - {{item.box.description}}</td>
							<td class="text-md-end"> {{item.startingAmount | numeral("0,0.00")}}</td>
							<td class="text-md-end"> {{item.salesAmount | numeral("0,0.00")}}</td>
							<td class="text-md-end"> {{item.expenseAmount | numeral("0,0.00")}}</td>
							<td class="text-md-end"> {{item.closingAmount | numeral("0,0.00")}}</td>
							<td class="text-md-center"> {{ item.closingDate | formatDate("DD/MM/YYYY")}}</td>
						</tr>
					</template>
					<template slot="body.append">
						<tr>
							<th colspan="3" class="text-center">Totales</th>
							<th class="text-md-end">{{getAmounts.salesAmount | numeral("0,0.00")}}</th>
							<th class="text-md-end">{{getAmounts.expenseAmount | numeral("0,0.00")}}</th>
							<th class="text-md-end">{{getAmounts.closingAmount | numeral("0,0.00")}}</th>
						</tr>
					</template>					
				</v-data-table>
			</v-card-text>
		</v-card>

		<div id="templateReport">
			<vue-html2pdf
			:show-layout="false"
			:float-layout="true"
			:enable-download="true"
			:paginate-elements-by-height="1100"
			:preview-modal="true"
			:manual-pagination="true"
			pdf-content-width="810px"
			pdf-format="letter"
			:html-to-pdf-options="htmlToPdfOptions"
			ref="html2Pdf">
				<section slot="pdf-content">
					<div class="templateR">
						<div class="logo">
							<img src="@/assets/img/lucatienda.png" alt="" width="120px">
						</div>
						
						<div class="headerR">
							<p>
								<span style="font-size: 24px;">{{ $store.getters.company.description }}</span> <br>
								<b>Fecha: </b> {{getDate()}}
							</p>
						</div>
						<div class="nameReport">
							<span>Reporte de Cierre de Caja</span>
						</div>
						<hr class="report">
						<div class="tableR">
							<v-data-table
							dense
							class="table-block"
							:headers="headers"
							:items="filtered"
							hide-default-footer
							disable-pagination>
								<template v-slot:item="{ item }">
									<tr>
										<td><span>{{ filtered.indexOf(item) + 1 }}</span></td>
										<td> {{getBranchOfficeBox(item.box.branchOfficeId)}} - {{item.box.description}}</td>
										<td class="table-content"> {{item.startingAmount| numeral("0,0.00")}}</td>
										<td class="table-content"> {{item.salesAmount | numeral("0,0.00")}}</td>
										<td class="table-content"> {{item.expenseAmount | numeral("0,0.00")}}</td>
										<td class="table-content"> {{item.closingAmount | numeral("0,0.00")}}</td>
										<td class="table-content"> {{item.closingDate | formatDate("DD/MM/YYYY")}}</td>
									</tr>
								</template>
								<template slot="body.append">
									<tr>
										<th colspan="3" class="text-center">Total</th>
										<th class="table-content">{{getAmounts.salesAmount | numeral("0,0.00")}}</th>
										<th class="table-content">{{getAmounts.expenseAmount | numeral("0,0.00")}}</th>
										<th class="table-content">{{getAmounts.closingAmount | numeral("0,0.00")}}</th>
									</tr>
								</template>					
							</v-data-table>
						</div>
					</div>
				</section>
			</vue-html2pdf>
		</div>
	</v-main>
</template>

<script>
	import VueHtml2pdf from 'vue-html2pdf'
	import Action from "@/mixins/Action.js"
	import "@/assets/css/styleTemplate.css"
	import $ from 'jquery'

	export default{
		name: "ReportSpending",
		mixins: [Action],
		data: () => ({
			branchOffice: '',
			service: 'boxclose',
			selfSearch: true,
			menu: false,
			menu2: false,
			dateReport: null,
			headers: [
				{'text': '#', value:'index', sortable: false},
				{'text': 'Caja', value:'box.description'},
				{'text': 'Monto último cierre', value:"startingAmount"},
				{'text': 'Monto de ventas', value:"salesAmount"},
				{'text': 'Monto de gastos', value:"expenseAmount"},
				{'text': 'Monto Cierre', value:"closingAmount"},
				{'text': 'Fecha de Cierre', value:"closingDate", align:"center"}
			],
			branchofficeList: [],
			nameBranchOffice: {},
			htmlToPdfOptions: {}
		}),
		created() {
			this.searchBranchOffice();
			$("#templateReport").hide();
			this.dateReport = this.getDate()
			this.htmlToPdfOptions = {
				margin:[15,0,15,0],
				filename: 'reporte-cierre-caja-'+this.dateReport+'.pdf',
				pagebreak: { mode: ['css'] },
				jsPDF: {
					format: 'letter',
					orientation: 'portrait'
				}
			}
		},
		methods: {
			reloadData() {
				this.bform = {}
				this.startDate = ''
				this.endingDate = ''
				this.branchOffice = ''
				this.search()
			},
			generateReport () {			
				this.$refs.html2Pdf.generatePdf()
			},
			search() {
				this.btnSearch = true
				this.$http
				.get(`${this.urlBase}/${this.service}`, {params: this.bform})
				.then(r => {
					this.list = r.data.list.filter(e => e.closingDate !== null)
					this.btnSearch = false
				}).catch(e => {
					console.log(e)
					this.btnSearch = false
				})
			},
			searchBranchOffice() {
				this.btnSearch = true;
				this.$http
				.get(`${this.urlBase}/branchoffice`)
				.then((r) => {
					this.branchofficeList = r.data.list;
					this.btnSearch = false;
				})
				.catch((e) => {
					console.log(e);
					this.btnSearch = false;
				});
			},
			getBranchOfficeBox(id) {
				let nameBranchOffice = this.branchofficeList.filter(e => e.id == id);

				for(let i in nameBranchOffice) {
					return nameBranchOffice[i].description
				}
			}
		},
		computed: {
			filtered() {
				if (this.branchOffice) {
					return this.list.filter(e => e.box.branchOfficeId == this.branchOffice)
				} else {
					return this.list
				}
			},
			getAmounts() {
				let salesAmount = 0;
				let expenseAmount = 0;
				let closingAmount = 0;

				this.filtered.forEach(e => {
					salesAmount += parseFloat(e.salesAmount);
					expenseAmount += parseFloat(e.expenseAmount);
					closingAmount += parseFloat(e.closingAmount);
				})
				return {			
					salesAmount: salesAmount,
					expenseAmount: expenseAmount,
					closingAmount: closingAmount
				}
			}
		},
		components: {
			VueHtml2pdf
		},
		watch: {
			'bform.fdel' (v) {
				if (v) {
					this.startDate = this.dateFormatInput(v);
				}
			},
			'bform.fal' (v) {
				if (v) {
					this.endingDate = this.dateFormatInput(v);
				}
			},
		}
	}
</script>
