<template>
	<v-main>
		<v-card>
			<v-card-text>
				<template>
          <v-toolbar flat>
            <v-toolbar-title>Reporte de Gastos</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  color="grey"
                  class="mr-4"
                  v-on="{ ...tooltip }"
                   @click="reloadData"
                >
                  <v-icon small>fas fa-redo</v-icon>
                </v-btn>
              </template>
              <span>Recargar</span>
            </v-tooltip>
            <v-spacer></v-spacer>
						<v-flex md3 xs10 sm4 class="mt-10">
							<v-menu
							v-model="menu"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="startDate"
									label="Fecha inicio"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fdel"
								@input="menu = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
						<v-flex md3 xs10 sm4 class="mt-10 mr-2">
							<v-menu
							v-model="menu2"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="endingDate"
									label="Fecha fin"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fal"
								@input="menu2 = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
            <v-btn color="primary" class="mr-1 white--text mt-5" @click="searchData" :disabled="btnSearch">Buscar</v-btn>				
						<v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
									<v-btn color="red" v-bind="attrs" v-on="on" @click="generateReport" class="mt-5">
										<v-icon color="white" small>fas fa-file-pdf</v-icon>
									</v-btn>
                </template>
                <span>Descargar reporte</span>
              </v-tooltip>
          </v-toolbar>
        </template>

				<v-data-table
				:headers="headers"
				:items="getSpending"
				:loading="btnSearch"
        loading-text="Buscando datos... Espere por favor"
				class="mt-10">
					<template v-slot:item="{ item }">
						<tr>
							<td><span>{{ getSpending.indexOf(item) + 1 }}</span></td>
							<td class="text-md-start"> {{item.description}}</td>
							<td class="text-md-start"> {{item.expenseCatalog.description}}</td>
							<td class="text-md-end"> {{item.amount | numeral("0,0.00")}}</td>
							<td class="text-md-center"> {{ item.dateCreated | formatDate("DD/MM/YYYY") }}</td>
						</tr>
					</template>
					<template slot="body.append">
						<tr>
							<th colspan="3" class="text-center">Totales</th>
							<th class="text-md-end">{{getAmounts.total | numeral("0,0.00")}}</th>
						</tr>
					</template>					
				</v-data-table>
			</v-card-text>
		</v-card>
		<div id="templateReport">
			<vue-html2pdf
			:show-layout="false"
			:float-layout="true"
			:enable-download="true"
			:preview-modal="true"
			:paginate-elements-by-height="1400"
			:manual-pagination="false"
			:html-to-pdf-options="htmlToPdfOptions"
			ref="html2Pdf">
				<section slot="pdf-content">
					<div class="templateR">
						<div class="logo">
							<img src="@/assets/img/lucatienda.png" alt="" width="120px">
						</div>
						
						<div class="headerR">
							<p>
								<span style="font-size: 24px;">{{ $store.getters.company.description }}</span> <br>
								<b>Fecha: </b> {{getDate()}}
							</p>
						</div>
						<div class="nameReport">
							<span>Reporte de Gastos</span>
						</div>
						<hr class="report">
						<div class="tableR">
							<v-data-table
							class="table-block"
							dense
							:headers="headers"
							:items="getSpending"
							hide-default-footer
							disable-pagination>
								<template v-slot:item="{ item }">
									<tr>
										<td><span>{{ getSpending.indexOf(item) + 1 }}</span></td>
										<td> {{item.description}}</td>
										<td> {{item.expenseCatalog.description}}</td>
										<td class="table-content"> {{item.amount | numeral("0,0.00")}}</td>
										<td style="text-align: center;"> {{ item.dateCreated | formatDate("DD/MM/YYYY") }}</td>
									</tr>
								</template>
								<template slot="body.append">
									<tr>
										<th colspan="3" class="text-center">Total</th>
										<th class="table-content">{{getAmounts.total | numeral("0,0.00")}}</th>
									</tr>
								</template>					
							</v-data-table>
						</div>
					</div>
				</section>
			</vue-html2pdf>
		</div>
	</v-main>
</template>

<script>
	import VueHtml2pdf from 'vue-html2pdf'
	import Action from "@/mixins/Action.js"
	import "@/assets/css/styleTemplate.css"
	import $ from 'jquery'

	export default{
		name: "ReportSpending",
		mixins: [Action],
		data: () => ({
			service: "spending",
			selfSearch: true,
			menu: false,
			menu2: false,
			dateReport: null,
			headers: [
				{ text: "#", value: "index", sortable: false, align: "start" },
				{ text: "Descripción", value: "description" },
				{ text: "Tipo de Gasto", value: "expenseCatalog.description" },
				{ text: "Monto", value: "amount" },
				{ text: "Fecha registro", value: "dateCreated", align: "center" },
			],
			listExpenseDetail: [],
			htmlToPdfOptions: {}
		}),
		
		created() {
			this.getSpValues(
				"sp_get_expense_catalog",
				{},
				"expenseCatalog"
			);

			this.getExpenseDetail();
			$("#templateReport").hide();

			this.dateReport = this.getDate()
			this.htmlToPdfOptions = {
				margin:[15,0,15,0],
				filename: 'reporte-gastos-'+this.dateReport+'.pdf',
				pagebreak: { mode: ['css'] },
				jsPDF: {
					format: 'letter',
					orientation: 'portrait'
				}
			}
		},
		methods: {
			reloadData() {
				this.bform = {}
				this.startDate = ''
				this.endingDate = ''
				this.search()
				this.getExpenseDetail()
			},
			searchData() {
				this.getExpenseDetail()
				this.search()		
			},
			generateReport () {
				this.$refs.html2Pdf.generatePdf()
			},
			getExpenseDetail() {
				this.$http
				.get(`${this.urlBase}/expensedetail`, {params: this.bform})
				.then((r) => {
					this.listExpenseDetail = r.data.list;
				})
				.catch((e) => {
					console.log(e);
				});
			}
		},
		computed: {
			getAmounts() {
				let total = 0;

				this.list.forEach(e => {
					total += parseFloat(e.amount);
				})
				return {			
					total: total
				}
			},
			getSpending() {
				let tmp = ""

				this.listExpenseDetail.forEach(e => {
					for(let i in this.catalogo.expenseCatalog){
						if (e.expenseCatalogId == this.catalogo.expenseCatalog[i].id) {
							tmp  = this.catalogo.expenseCatalog[i].description
						}
					}
					
					this.list.push({
						description: e.boxClose.box.description+' - '+e.boxClose.box.branchOffice.description,
						expenseCatalog: {description: tmp},
						amount: e.amount,
						dateCreated: e.dateCreated
					})
				})
	
				return this.list.slice().sort((a, b) => new Date(a.dateCreated.split('T')[0]).getTime() - new Date(b.dateCreated.split('T')[0]).getTime());
			}
		},
		components: {
			VueHtml2pdf
		},
		watch: {
			'bform.fdel' (v) {
				if (v) {
					this.startDate = this.dateFormatInput(v);
				}
			},
			'bform.fal' (v) {
				if (v) {
					this.endingDate = this.dateFormatInput(v);
				}
			},
		}
	}
</script>
	
