<template>
	<v-main>
		<v-card>
			<v-card-text>
				<template>
          <v-toolbar flat>
            <v-toolbar-title>Reporte de Inversiones</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  color="grey"
                  class="mr-4"
                  v-on="{ ...tooltip }"
                  @click="reloadData"
                >
                  <v-icon small>fas fa-redo</v-icon>
                </v-btn>
              </template>
              <span>Recargar</span>
            </v-tooltip>
            <v-spacer></v-spacer>
						<v-flex md3 xs10 sm4 class="mt-10">
							<v-menu
							v-model="menu"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="startDate"
									label="Fecha inicio"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fdel"
								@input="menu = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
						<v-flex md3 xs10 sm4 class="mt-10 mr-2">
							<v-menu
							v-model="menu2"
							:close-on-content-click="false"
							:nudge-right="40"
							transition="scale-transition"
							offset-y
							min-width="auto"
							>
								<template v-slot:activator="{ on, attrs }">
									<v-text-field
									v-model="endingDate"
									label="Fecha fin"
									prepend-icon="mdi-calendar"
									readonly
									v-bind="attrs"
									v-on="on"
									></v-text-field>
								</template>
								<v-date-picker
								v-model="bform.fal"
								@input="menu2 = false"
								></v-date-picker>
							</v-menu>
						</v-flex>
            <v-btn color="primary" class="mr-1 white--text mt-5" @click="search" :disabled="btnSearch">Buscar</v-btn>				
						<v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
									<v-btn color="red" v-bind="attrs" v-on="on" @click="generateReport" class="mt-5">
										<v-icon color="white">fas fa-file-pdf</v-icon>
									</v-btn>
                </template>
                <span>Descargar reporte</span>
              </v-tooltip>
          </v-toolbar>
        </template>

				<v-data-table
				:headers="headers"
				:items="filtered"
				:loading="btnSearch"
        loading-text="Buscando datos... Espere por favor"
				class="mt-10">
					<template v-slot:item="{ item }">
						<tr>
							<td><span>{{ filtered.indexOf(item) + 1 }}</span></td>
							<td class="text-md-start"> 
								{{item.box ? item.box.branchOffice.description+' - '+item.box.description+' - ':''}} {{ item.description}}</td>
							<td class="text-md-end"> {{	item.effectiveAmount | numeral("0,0.00") }}</td>
							<td class="text-md-end"> {{	item.merchandiseAmount | numeral("0,0.00") }}</td>
							<td class="text-md-end"> {{	item.total | numeral("0,0.00") }}</td>
							<td class="text-md-center"> {{ item.dateCreated | formatDate("DD/MM/YYYY") }}</td>
						</tr>
					</template>
					<template slot="body.append">
						<tr>
							<th colspan="2" class="text-center">Totales</th>
							<th class="text-md-end">{{getAmounts.effectiveAmount | numeral("0,0.00")}}</th>
							<th class="text-md-end">{{getAmounts.merchandiseAmount | numeral("0,0.00")}}</th>
							<th class="text-md-end">{{getAmounts.total | numeral("0,0.00")}}</th>
						</tr>
					</template>					
				</v-data-table>
			</v-card-text>
		</v-card>
		<div id="templateReport">
			<vue-html2pdf
			:show-layout="false"
			:float-layout="true"
			:enable-download="true"
			:preview-modal="true"
			:paginate-elements-by-height="1400"
			:manual-pagination="false"
			:html-to-pdf-options="htmlToPdfOptions"
			ref="html2Pdf">
				<section slot="pdf-content">
					<div class="templateR">
						<div class="logo">
							<img src="@/assets/img/lucatienda.png" alt="" width="120px">
						</div>
						
						<div class="headerR">
							<p>
								<span style="font-size: 24px;">{{ $store.getters.company.description }}</span> <br>
								<b>Fecha: </b> {{getDate()}}
							</p>
						</div>
						<div class="nameReport">
							<span>Reporte de Inversiones</span>
						</div>
						<hr class="report">
						<div class="tableR">
							<v-data-table
							dense
							class="table-block"
							:headers="headers"
							:items="filtered"
							hide-default-footer
							disable-pagination>
								<template v-slot:item="{ item }">
									<tr>
										<td><span>{{ filtered.indexOf(item) + 1 }}</span></td>
										<td> 
											{{item.box ? item.box.branchOffice.description+' - '+item.box.description+' - ':''}} {{ item.description}}
										</td>
										<td class="table-content"> {{ item.effectiveAmount | numeral("0,0.00") }}</td>
										<td class="table-content"> {{ item.merchandiseAmount | numeral("0,0.00") }}</td>
										<td class="table-content"> {{ item.total | numeral("0,0.00") }}</td>
										<td class="table-content"> {{ item.dateCreated | formatDate("DD/MM/YYYY") }}</td>
									</tr>
								</template>
								<template slot="body.append">
									<tr>
										<th colspan="2" class="text-center">Totales</th>
										<th class="table-content">{{getAmounts.effectiveAmount | numeral("0,0.00")}}</th>
										<th class="table-content">{{getAmounts.merchandiseAmount | numeral("0,0.00")}}</th>
										<th class="table-content">{{getAmounts.total | numeral("0,0.00")}}</th>
									</tr>
								</template>					
							</v-data-table>
						</div>
					</div>
				</section>
			</vue-html2pdf>
		</div>
	</v-main>
</template>

<script>
	import VueHtml2pdf from 'vue-html2pdf'
	import Action from "@/mixins/Action.js"
	import "@/assets/css/styleTemplate.css"
	import $ from 'jquery'

	export default{
		name: "ReportInvestment",
		mixins: [Action],
		data: () => ({
			service: "investment",
			selfSearch: true,
			menu: false,
			menu2: false,
			headers: [
				{ text: "#", value: "index", sortable: false, align: "start" },
				{ text: "Descripción", value: "description", align: "center"},
				{ text: "Monto efectivo", value: "effectiveAmount", align: "center"},
				{ text: "Monto mercancía", value: "merchandiseAmount", align: "center"},
				{ text: "Total", value: "total", align: "center" },
				{ text: "Fecha registro", value: "dateCreated", align: "center" }
			],
			htmlToPdfOptions: {}
		}),
		created() {
			$("#templateReport").hide();

			this.dateReport = this.getDate()
			this.htmlToPdfOptions = {
				margin:[15,0,15,0],
				filename: 'reporte-inversiones-'+this.dateReport+'.pdf',
				pagebreak: { mode: ['css'] },
				jsPDF: {
					format: 'letter',
					orientation: 'portrait'
				}
			}
		},
		methods: {
			reloadData() {
				this.bform = {}
				this.startDate = ''
				this.endingDate = ''
				this.search()
			},
			generateReport () {
				this.$refs.html2Pdf.generatePdf()
			},
		},
		computed: {
			getAmounts() {
				let merchandiseAmount = 0;
				let effectiveAmount = 0;
				let total = 0;

				this.list.forEach(e => {
					merchandiseAmount += parseFloat(e.merchandiseAmount);
					effectiveAmount += parseFloat(e.effectiveAmount);
					total += parseFloat(e.total);
				})
				return {
					effectiveAmount: effectiveAmount,
					merchandiseAmount: merchandiseAmount,				
					total: total
				}
			}
		},
		components: {
			VueHtml2pdf
		},
		watch: {
			'bform.fdel' (v) {
				if (v) {
					this.startDate = this.dateFormatInput(v);
				}
			},
			'bform.fal' (v) {
				if (v) {
					this.endingDate = this.dateFormatInput(v);
				}
			},
		}
	}
</script>
