<template>
  <v-main class="text-center">
    <h1 class="grey--text">
      ¡Bienvenido a {{ $store.getters.company.description }}!
    </h1>
    <img style="max-height: 500px" src="../assets/img/home.svg" />
  </v-main>
</template>
