<template>
  <div>
    <v-navigation-drawer app clipped v-model="seeBar">
      <v-list v-if="$store.getters.isLoggedIn">
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              {{ $store.getters.user.name }} {{ $store.getters.user.lastname }}
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ $store.getters.user.role.description }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list nav dense v-if="$store.getters.isLoggedIn">
        <v-list-item-group v-model="selected" color="primary">
          <v-list-item
            link
            @click="$router.push(item.path)"
            v-for="(item, i) in items.filter(
              (elem) => $store.state.user.roleId == elem.rol
            )"
            :key="i"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left color="primary" dark class="white-text">
      <v-app-bar-nav-icon class="mr-2" @click="seeBar = !seeBar"></v-app-bar-nav-icon>
      {{ $store.getters.company.description }}
      <v-spacer></v-spacer>
      <a href="javascript:;" class="text-decoration-none white--text" @click="logout">
        <v-icon small>fa-sign-out-alt</v-icon> Cerrar Sesión</a
      >
    </v-app-bar>

    <v-main class="pa-2 pb-10">
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  data: () => ({
    seeBar: null,
    selected: 0,
    items: [
      {
        icon: "mdi-home",
        text: "Inicio",
        path: "/",
        rol: 1,
      },
      {
        icon: "mdi-home",
        text: "Inicio",
        path: "/",
        rol: 2,
      },
      {
        icon: "mdi-account",
        text: "Usuarios",
        path: "user",
        rol: 1,
      },
      {
        icon: "mdi-office-building",
        text: "Sucursales",
        path: "branchoffice",
        rol: 1,
      },
      {
        icon: "mdi-archive",
        text: "Cajas",
        path: "box",
        rol: 1,
      },
      {
        icon: "mdi-account-group",
        text: "Sucursal Usuario",
        path: "user-branchoffice",
        rol: 1,
      },
      {
        icon: "mdi-progress-close",
        text: "Cierre de Caja",
        path: "box-close-seller",
        rol: 2,
      },
      {
        icon: "mdi-progress-close",
        text: "Cierre de Caja",
        path: "box-close-seller",
        rol: 1,
      },
      {
        icon: "mdi-format-list-checks",
        text: "Tipos de Gastos",
        path: "expense-catalog",
        rol: 1,
      },
      {
        icon: "mdi-format-list-checks",
        text: "Tipos de Ventas",
        path: "sale-catalog",
        rol: 1,
      },
      {
        icon: "mdi-cash",
        text: "Inversiones",
        path: "investment",
        rol: 1,
      },
      {
        icon: "mdi-cash-multiple",
        text: "Gastos",
        path: "spending",
        rol: 1,
      },
      {
        icon: "mdi-transfer",
        text: "Transferencias de Cajas",
        path: "box-transfer",
        rol: 2,
      },
      {
        icon: "mdi-timeline-check",
        text: "Autorizar Transferencias",
        path: "authorize-transfer",
        rol: 1,
      },
      {
        icon: "mdi-transfer",
        text: "Transferencias de Cajas",
        path: "box-transfer",
        rol: 1,
      },
      {
        icon: "mdi-format-list-text",
        text: "Reporte de Inversiones",
        path: "report-investment",
        rol: 1,
      },
      {
        icon: "mdi-format-list-text",
        text: "Reporte de Gastos",
        path: "report-spending",
        rol: 1,
      },
      {
        icon: "mdi-format-list-text",
        text: "Reporte de Cierre Caja",
        path: "report-boxclose",
        rol: 1,
      },
      {
        icon: "mdi-format-list-text",
        text: "Reporte de Caja General",
        path: "report-generalbox",
        rol: 1,
      },
    ],
  }),
  methods: {
    logout() {
      this.$store.dispatch("logout").then(() => {
        if (!this.$store.getters.isLoggedIn) {
          this.$router.push({ name: "Login" });
        }
      });
    },
  },
};
</script>
