<template>
  <v-main>
    <v-card>
      <v-card-text>
        <v-toolbar flat>
          <v-toolbar-title>Autorización de Transferencias</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                icon
                color="grey"
                class="mr-4"
                v-on="{ ...tooltip }"
                @click="reloadData"
              >
                <v-icon small>fas fa-redo</v-icon>
              </v-btn>
            </template>
            <span>Recargar</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-flex md3 xs10 sm4 class="mt-5">
            <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="startDate"
                  label="Fecha inicio"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="bform.fdel" @input="menu = false"></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex md3 xs10 sm4 class="mt-5">
            <v-menu
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="endingDate"
                  label="Fecha fin"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="bform.fal" @input="menu2 = false"></v-date-picker>
            </v-menu>
          </v-flex>
          <v-btn color="primary" class="ml-2 py-0" @click="search"> Buscar </v-btn>
        </v-toolbar>
        <v-data-table
          :headers="headers"
          :items="filtered"
          :loading="btnSearch"
          loading-text="Buscando datos... Espere por favor"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>
                <span>{{ filtered.indexOf(item) + 1 }}</span>
              </td>
              <td>
                {{ item.box.description }} - {{ item.box.branchOffice.description }}
              </td>
              <td class="text-md-end">{{ item.box.balance | numeral("0, 0.00") }}</td>
              <td class="text-md-end">
                {{ (item.box.balance - item.amount) | numeral("0, 0.00") }}
              </td>
              <td class="text-md-end">{{ item.amount | numeral("0,0.00") }}</td>
              <td class="text-center">
                {{ item.dateCreated | formatDate("DD/MM/YYYY") }}
              </td>
              <td class="text-center">
                <v-chip small color="orange" dark>
                  {{ item.authorized ? "Autorizado" : "Pendiente" }}
                </v-chip>
              </td>
              <td class="text-center">
                <v-tooltip
                  bottom
                  v-if="$store.getters.user.roleId == 1 && !item.authorized"
                >
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn icon v-on="{ ...tooltip }" @click="openDialogAuthorized(item)">
                      <v-icon>mdi-checkbox-multiple-marked</v-icon>
                    </v-btn>
                  </template>
                  <span>Autorizar transferencia</span>
                </v-tooltip>
                <v-tooltip
                  bottom
                  v-if="$store.getters.user.roleId == 1 && !item.authorized"
                >
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn icon v-on="{ ...tooltip }" @click="openDialogReject(item)">
                      <v-icon>mdi-close-circle</v-icon>
                    </v-btn>
                  </template>
                  <span>Rechazar transferencia</span>
                </v-tooltip>
              </td>
            </tr>
          </template>
          <template v-slot:no-data>
            <div class="text-center py-10">
              <v-icon small class="mr-1">fa-info-circle</v-icon>No se encontraron
              transferencias
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <v-dialog v-model="dialogAuthorized" max-width="750px">
      <v-card>
        <v-card-title class="text-h6">Autorizar Transferencia</v-card-title>
        <v-card-text v-if="detailTransfer"
          >¿Esta seguro que desea autorizar la transferencia de la caja "{{
            detailTransfer.box.description
          }}
          - {{ detailTransfer.box.branchOffice.description }}" con el monto de
          {{ detailTransfer.amount }} a caja general?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogAuthorized = false"
            >Cancelar</v-btn
          >
          <v-btn color="blue darken-1" text @click="authorizeTransfer()">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogReject" max-width="750px">
      <v-card>
        <v-card-title class="text-h6">Rechazar Transferencia</v-card-title>
        <v-card-text v-if="detailTransfer"
          >¿Esta seguro que desea rechazar la transferencia de la caja "{{
            detailTransfer.box.description
          }}
          - {{ detailTransfer.box.branchOffice.description }}" con el monto de
          {{ detailTransfer.amount }} a caja general?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogReject = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="rejectTransfer()">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";

export default {
  name: "AuthorizeTransfer",
  mixins: [Action],
  data: () => ({
    service: "boxtransfer",
    selfSearch: true,
    dialogAuthorized: false,
    dialogReject: false,
    menu: false,
    menu2: false,
    detailTransfer: null,
    headers: [
      { text: "#", value: "index" },
      { text: "Caja", value: "box.description" },
      { text: "Monto Inicial", value: "box.balance" },
      { text: "Monto Final", value: "closingAmount" },
      { text: "Monto Transferencia", value: "amount" },
      { text: "Fecha", value: "dateCreated", align: "center" },
      { text: "Estado", value: "authorized", align: "center" },
      { text: "Acción", value: "action", align: "center" },
    ],
  }),
  methods: {
    reloadData() {
      this.startDate = "";
      this.endingDate = "";
      this.bform = {};
      this.search();
    },
    openDialogAuthorized(item) {
      this.detailTransfer = item;
      this.dialogAuthorized = true;
    },
    openDialogReject(item) {
      this.detailTransfer = item;
      this.dialogReject = true;
    },
    authorizeTransfer() {
      this.$http
        .post(`${this.urlBase}/boxtransfer/authorize/${this.detailTransfer.id}`, {
          params: this.bform,
        })
        .then((r) => {
          if (r.data.success) {
            this.$toastr.success(r.data.message);
            this.list.forEach((e) => (e.box.balance = r.data.record.box.balance));
            let key = this.list.indexOf(this.detailTransfer);
            this.list.splice(key, 1);
            this.detailTransfer = null;
            this.dialogAuthorized = false;
          }
        })
        .catch((e) => {
          this.$toastr.error(e);
        });
    },
    rejectTransfer() {
      this.loading = true;
      let body = {
        sp: "sp_reject_boxtransfer",
        object: {
          idTransfer: this.detailTransfer.id,
        },
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          if (r.data.status_code == 200) {
            this.$toastr.success("Transferencia rechazada correctamente");
            this.reloadData();
          } else this.$toastr.error("Error al rechazar la transferencia");
          this.loading = false;
          this.dialogReject = false;
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al rechazar la transferencia");
        });
    },
  },
  computed: {
    filtered() {
      return this.list.filter((e) => e.authorized == false);
    },
  },
  watch: {
    "bform.fdel"(v) {
      if (v) {
        this.startDate = this.dateFormatInput(v);
      }
    },
    "bform.fal"(v) {
      if (v) {
        this.endingDate = this.dateFormatInput(v);
      }
    },
  },
};
</script>
