<template>
  <v-main>
    <v-card>
      <v-card-text>
        <v-toolbar flat>
          <v-toolbar-title>Cajas</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-flex md4 xs10 sm6 class="pa-4">
            <v-text-field placeholder="Buscar" class="pt-4" v-model="text">
              <v-icon slot="append" small class="py-2">fa-search</v-icon>
            </v-text-field>
          </v-flex>
          <v-btn color="primary" @click="addBox"> Agregar </v-btn>
        </v-toolbar>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="filtered"
            :search="text"
            :loading="btnSearch"
            loading-text="Buscando datos... Espere por favor"
          >
            <template v-slot:item.boxState.id="{ item }">
              <v-chip small :color="getColorState(item.boxState.id)" dark>
                {{ item.boxState.description }}
              </v-chip>
            </template>
            <template v-slot:item.dateCreated="{ item }">
              <span>{{ item.dateCreated | formatDate("MM/DD/YYYY hh:mm") }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                    @click="editBox(filtered.indexOf(item))"
                  >
                    <v-icon small>fas fa-pen</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on" @click="deleteBox(item)">
                    <v-icon small>fas fa-trash</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card-text>
    </v-card>

    <v-dialog v-model="modal" persistent max-width="550px">
      <v-card>
        <v-card-title>
          {{ reg != "" ? form.description : "Nueva Caja" }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <p class="text-left font-italic mb-5 px-0 mt-3">
            Todos los campos marcados con (<span class="red--text">*</span>) son
            obligatorios
          </p>
          <v-form @submit.prevent="saveBox" ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" sm5 class="py-0 mb-0">
                  <v-select
                    label="Sucursal *"
                    v-model="form.branchOfficeId"
                    :items="branchofficeList"
                    item-text="description"
                    item-value="id"
                    :rules="[(val) => !!val || 'Seleccione sucursal']"
                  >
                  </v-select>
                </v-col>
                <v-col cols="12" sm7 class="py-0">
                  <v-text-field
                    label="Descripción *"
                    v-model="form.description"
                    :rules="[(val) => !!val || 'Ingrese la descripción']"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="mb-2 mt-10">
                <v-spacer></v-spacer>
                <v-btn color="error" class="mr-1" small @click="closeDialog">
                  <v-icon small class="mr-1">fa-times</v-icon>Cerrar
                </v-btn>
                <v-btn color="primary" small type="submit" :disabled="btnSave">
                  <v-icon small class="mr-1">fa-save</v-icon>
                  {{ btnSave ? "Guardando..." : "Guardar" }}
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Eliminar</v-card-title>
        <v-card-text
          >¿Esta seguro que desea eliminar la caja:
          {{ this.currentItem.description }}?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="removeBox">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";

export default {
  name: "Box",
  mixins: [Action],
  data: () => ({
    branchofficeList: [],
    modal: false,
    dialogDelete: false,
    currentItem: {},
    headers: [
      { text: "Descripción", value: "description" },
      { text: "Sucursal", value: "branchOffice.description" },
      { text: "Fecha creación", value: "dateCreated" },
      { text: "Estado", value: "boxState.id", align: "center" },
      { text: "Acciones", value: "actions", sortable: false, align: "center" },
    ],
  }),

  created() {
    this.service = "box";
    this.selfSearch = true;
    this.searchBranchOffice();
  },
  methods: {
    searchBranchOffice() {
      this.btnSearch = true;
      this.$http
        .get(`${this.urlBase}/branchoffice`)
        .then((r) => {
          this.branchofficeList = r.data.list;
          this.btnSearch = false;
        })
        .catch((e) => {
          console.log(e);
          this.btnSearch = false;
        });
    },
    addBox() {
      this.modal = true;
    },
    editBox(idx) {
      this.modal = true;
      this.edit(idx);
    },
    saveBox() {
      if (this.$refs.form.validate()) {
        this.save(this.$refs.form);
      }
    },
    deleteBox(obj) {
      this.currentItem = obj;
      this.dialogDelete = true;
    },
    removeBox() {
      this.remove(this.currentItem);
      this.dialogDelete = false;
    },
    closeDialog() {
      this.modal = false;
      this.clean();
      this.$refs.form.resetValidation();
    },
    getColorState(id) {
      if (id == 1) return "green";
      else if (id == 2) return "orange";
      else if (id == 3) return "red";
      else if (id == 4) return "blue";
    },
  },
};
</script>

<style lang="sass">
.v-list-item__title
	text-align: left !important
</style>
