<template>
  <v-main>
    <v-card>
      <v-card-text>
        <v-toolbar flat>
          <v-toolbar-title>Cierre de Caja</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                icon
                color="grey"
                class="mr-4"
                v-on="{ ...tooltip }"
                @click="getBoxByBranchOffice(object.branchOffice)"
              >
                <v-icon small>fas fa-redo</v-icon>
              </v-btn>
            </template>
            <span>Recargar</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-select
            :items="branchofficeList"
            :item-text="'description'"
            :item-value="'id'"
            class="pt-5"
            label="Sucursal"
            v-model="object.branchOffice"
            @input="getBoxByBranchOffice"
          ></v-select>
          <v-spacer></v-spacer>
          <v-flex md4 xs10 sm6 class="pa-4">
            <v-text-field placeholder="Buscar" class="pt-4" v-model="text">
              <v-icon slot="append" small class="py-2">fa-search</v-icon>
            </v-text-field>
          </v-flex>
        </v-toolbar>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="data"
            :items-per-page="10"
            :search="text"
            :loading="loading"
            loading-text="Cargando datos..."
          >
            <template v-slot:item.state="{ item }">
              <v-chip small :color="getColorState(item.stateid)" dark>
                {{ item.state }}
              </v-chip>
            </template>

            <template v-slot:item.amount="{ item }">
              {{ item.amount | numeral("0,0.00") }}
            </template>

            <template v-slot:item.balance="{ item }">
              {{ item.balance | numeral("0,0.00") }}
            </template>
            <template v-slot:item.options="{ item }">
              <v-tooltip bottom v-if="item.stateid == 1">
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn icon v-on="{ ...tooltip }" @click="closeBox(item)">
                    <v-icon small>fas fa-times-circle</v-icon>
                  </v-btn>
                </template>
                <span>Cerrar Caja</span>
              </v-tooltip>
              <v-tooltip bottom v-if="item.stateid == 4">
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn icon v-on="{ ...tooltip }" @click="openBox(item)">
                    <v-icon small>fas fa-check-circle</v-icon>
                  </v-btn>
                </template>
                <span>Abrir Caja</span>
              </v-tooltip>
              <v-tooltip bottom v-if="item.stateid == 2 || item.stateid == 3">
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn icon v-on="{ ...tooltip }" @click="editBoxClose(item)">
                    <v-icon small>fas fa-pen</v-icon>
                  </v-btn>
                </template>
                <span>Editar Cierre</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card-text>
    </v-card>
    <!-- Venta dialogo cerre de caja-->
    <v-dialog v-model="dialogClose" persistent max-width="700px">
      <v-card>
        <v-progress-linear
          indeterminate
          v-if="loadingExpenseDialog"
          color="primary"
        ></v-progress-linear>
        <v-card-title>
          <span class="text-h5">Cierre de caja</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="sendData" ref="form">
            <v-container>
              <v-row>
                <v-col cols="6" sm3 class="py-0">
                  <v-text-field label="Caja" v-model="object.box" disabled></v-text-field>
                </v-col>
                <v-col cols="6" sm3 class="py-0">
                  <v-text-field
                    label="Descripción (opcional)"
                    v-model="object.description"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm3 class="py-0">
                  <v-text-field
                    label="Saldo en caja"
                    v-model="object.amount"
                    step="any	"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm3 class="py-0">
                  <v-text-field
                    label="Monto en ventas "
                    v-model="object.salesAmount"
                    step="any	"
                    @input="changeTotal"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm3 class="py-0">
                  <v-text-field
                    label="Monto en gastos"
                    v-model="object.expenseAmount"
                    step="any	"
                    @input="changeTotal"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm3 class="py-0">
                  <v-text-field
                    label="Monto de cierre"
                    v-model="object.closingAmount"
                    step="any	"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm3 class="py-0">
                  <v-row class="pa-3">
                    <v-btn
                      outlined
                      color="primary"
                      small
                      class="mr-4"
                      @click="addExpense"
                    >
                      Detalle Gastos
                    </v-btn>
                    <v-btn outlined color="primary" small @click="addSale">
                      Detalle Ventas
                    </v-btn>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
            <v-row class="mb-2 mt-10">
              <v-spacer></v-spacer>
              <v-btn color="error" class="mr-1" small @click="dialogClose = false">
                <v-icon small class="mr-1">fa-times</v-icon>Cerrar
              </v-btn>
              <v-btn color="primary" class="mr-1" small type="submit" :disabled="btnSave">
                <v-icon small class="mr-1">fa-save</v-icon>
                {{ btnSave ? "Guardando..." : "Guardar" }}
              </v-btn>
              <v-btn
                color="blue-grey darken-3"
                style="color: #fff !important"
                class="mr-1"
                small
                :disabled="
                  isChangedDataExpense == true || isChangedDataSale == true || btnSave
                "
                @click="changeStateBox(3)"
                v-if="isAdmin && (object.stateId == 2 || object.stateId == 3)"
              >
                <v-icon small class="mr-1">fa-times-circle</v-icon>Rechazar
              </v-btn>
              <v-btn
                color="success"
                small
                @click="changeStateBox(4)"
                :disabled="
                  isChangedDataExpense == true || isChangedDataSale == true || btnSave
                "
                v-if="isAdmin && (object.stateId == 2 || object.stateId == 3)"
              >
                <v-icon small class="mr-1">fa-check</v-icon>
                {{ btnSave ? "Autorizar..." : "Autorizar" }}
              </v-btn>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- Venta dialogo detalle gastos -->
    <v-dialog v-model="dialogExpense" persistent max-width="700px">
      <v-card>
        <v-data-table
          :headers="headersExpense"
          :items="dataExpense.filter((item) => item.deleted != true)"
          :items-per-page="10"
          :search="textSearchExpense"
          :loading="loadingExpense"
          loading-text="Cargando datos..."
          :key="keyExpense"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Detalle de gastos</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <v-dialog v-model="dialogDeleteExpense" persistent max-width="500px">
                <v-card>
                  <v-card-title class="text-h6">Eliminar</v-card-title>
                  <v-card-text
                    >¿Esta seguro que desea eliminar el gasto:
                    {{ editedItem.description }}?</v-card-text
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDialogDelete()"
                      >Cancelar</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="deleteItemConfirmExpense()"
                      >Aceptar</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
            <v-form ref="formExpense" @submit.prevent="sendDataExpense()" class="mb-5">
              <v-card flat>
                <v-card-text>
                  <v-container class="pb-0 pt-0">
                    <v-row>
                      <v-col cols="5" class="pt-0 pb-0">
                        <v-select
                          :items="optionsExpense"
                          :item-text="'description'"
                          :item-value="'id'"
                          label="Tipo de gasto"
                          v-model="editedItem.idType"
                          :rules="[(val) => !!val || 'Seleccione tipo de gasto']"
                        ></v-select>
                      </v-col>
                      <v-col cols="5" class="pt-0 pb-0">
                        <v-text-field
                          v-model="editedItem.amount"
                          label="Monto"
                          :rules="[(val) => !!val || 'Ingrese monto']"
                          type="number"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2" class="pt-0 pb-0">
                        <v-btn
                          color="primary"
                          small
                          class="mt-3"
                          type="submit"
                          :disabled="btnSave"
                        >
                          <v-icon small class="mr-1">fa-save</v-icon>
                          {{ btnSave ? "Guardando..." : "Guardar" }}
                        </v-btn>
                        <v-btn
                          v-if="editedIndex > -1"
                          small
                          class="mt-3"
                          :disabled="btnSave"
                          @click="
                            cleanDialog();
                            editedIndex = -1;
                          "
                        >
                          <v-icon small class="mr-1">fa-pen</v-icon>
                          Nuevo
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-form>
          </template>
          <template v-slot:item.options="{ item }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  :disabled="btnSave"
                  @click="deleteItemExpense(item)"
                  v-on="{ ...tooltip }"
                >
                  <v-icon small>fas fa-trash</v-icon>
                </v-btn>
              </template>
              <span>Eliminar</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn icon v-on="{ ...tooltip }" @click="editItemExpense(item)">
                  <v-icon small>fas fa-pen</v-icon>
                </v-btn>
              </template>
              <span>Editar</span>
            </v-tooltip>
          </template>
          <template v-slot:no-data>
            <div class="text-center py-10">
              <v-icon small class="mr-1">fa-info-circle</v-icon>No se ha agregado gastos
            </div>
          </template>
        </v-data-table>
        <v-card-actions>
          <v-row class="mb-2 mt-10">
            <v-spacer></v-spacer>
            <v-btn color="error" class="mr-2" small @click="closeDialogExpense">
              <v-icon small class="mr-1">fa-times</v-icon>Cerrar
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Venta dialogo detalle ventas -->
    <v-dialog v-model="dialogSale" persistent max-width="700px">
      <v-card>
        <v-data-table
          :headers="headersSale"
          :items="dataSale.filter((item) => item.deleted != true)"
          :items-per-page="10"
          :search="textSearchSale"
          :loading="loadingSale"
          loading-text="Cargando datos..."
          :key="keySale"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Detalle de ventas</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <v-dialog v-model="dialogDeleteSale" persistent max-width="500px">
                <v-card>
                  <v-card-title class="text-h6">Eliminar</v-card-title>
                  <v-card-text
                    >¿Esta seguro que desea eliminar la venta:
                    {{ editedItem.description }}?</v-card-text
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDialogDelete()"
                      >Cancelar</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="deleteItemConfirmSale()"
                      >Aceptar</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
            <v-form ref="formSale" @submit.prevent="sendDataSale()" class="mb-5">
              <v-card flat>
                <v-card-text>
                  <v-container class="pb-0 pt-0">
                    <v-row>
                      <v-col cols="5" class="pt-0 pb-0">
                        <v-select
                          :items="optionsSale"
                          :item-text="'description'"
                          :item-value="'id'"
                          label="Tipo de venta"
                          v-model="editedItem.idType"
                          :rules="[(val) => !!val || 'Seleccione tipo de venta']"
                        ></v-select>
                      </v-col>
                      <v-col cols="5" class="pt-0 pb-0">
                        <v-text-field
                          v-model="editedItem.amount"
                          label="Monto"
                          :rules="[(val) => !!val || 'Ingrese monto']"
                          type="number"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2" class="pt-0 pb-0">
                        <v-btn
                          color="primary"
                          small
                          class="mt-3"
                          type="submit"
                          :disabled="btnSave"
                        >
                          <v-icon small class="mr-1">fa-save</v-icon>
                          {{ btnSave ? "Guardando..." : "Guardar" }}
                        </v-btn>
                        <v-btn
                          v-if="editedIndex > -1"
                          small
                          class="mt-3"
                          :disabled="btnSave"
                          @click="
                            cleanDialog();
                            editedIndex = -1;
                          "
                        >
                          <v-icon small class="mr-1">fa-pen</v-icon>
                          Nuevo
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-form>
          </template>
          <template v-slot:item.options="{ item }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  :disabled="btnSave"
                  @click="deleteItemSale(item)"
                  v-on="{ ...tooltip }"
                >
                  <v-icon small>fas fa-trash</v-icon>
                </v-btn>
              </template>
              <span>Eliminar</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn icon v-on="{ ...tooltip }" @click="editItemSale(item)">
                  <v-icon small>fas fa-pen</v-icon>
                </v-btn>
              </template>
              <span>Editar</span>
            </v-tooltip>
          </template>
          <template v-slot:no-data>
            <div class="text-center py-10">
              <v-icon small class="mr-1">fa-info-circle</v-icon>No se ha agregado ventas
            </div>
          </template>
        </v-data-table>
        <v-card-actions>
          <v-row class="mb-2 mt-10">
            <v-spacer></v-spacer>
            <v-btn color="error" class="mr-2" small @click="closeDialogSale">
              <v-icon small class="mr-1">fa-times</v-icon>Cerrar
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogNotPermission" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Cierre de caja</v-card-title>
        <v-card-text
          >No puede realizar acciones a esta caja, contacte al administrador</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogNotPermission = false"
            >Aceptar</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogNotClose" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Cierre de caja</v-card-title>
        <v-card-text
          >La caja ya se encuentra cerrada, no puede realizar acciones.</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogNotClose = false"
            >Aceptar</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogIsOpen" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Cierre de caja</v-card-title>
        <v-card-text>La caja ya se encuentra abierta</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogIsOpen = false">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";

export default {
  name: "Box",
  mixins: [Action],
  data: () => ({
    loadingExpenseDialog: false,

    branchofficeList: [],
    optionsExpense: [],
    optionsSale: [],
    dialogDeleteSale: false,
    dialogDeleteExpense: false,
    dialogClose: false,
    dialogExpense: false,
    dialogSale: false,
    dialogNotPermission: false,
    dialogNotClose: false,
    dialogIsOpen: false,

    object: {
      boxId: null,
      branchOffice: null,
      description: null,
      salesAmount: 0,
      expenseAmount: 0,
      closingAmount: 0,
      box: null,
      balance: null,
    },
    defaultObject: {
      boxId: null,
      branchOffice: null,
      description: null,
      salesAmount: 0,
      expenseAmount: 0,
      closingAmount: 0,
      box: null,
      balance: null,
    },
    text: null,
    textSearchExpense: null,
    textSearchSale: null,

    headers: [
      {
        text: "Descripción",
        value: "description",
      },
      { text: "Estado", value: "state" },
      { text: "Saldo", value: "amount" },
      { text: "Monto ultimo cierre", value: "balance" },
      { text: "Acciones", value: "options" },
    ],
    headersExpense: [
      {
        text: "Gasto",
        value: "description",
      },
      {
        text: "Monto",
        value: "amount",
      },
      {
        text: "Acciones",
        value: "options",
      },
    ],
    headersSale: [
      {
        text: "Venta",
        value: "description",
      },
      {
        text: "Monto",
        value: "amount",
      },
      {
        text: "Acciones",
        value: "options",
      },
    ],
    editedItem: {
      idType: null,
      description: "",
      amount: null,
    },
    data: [],
    dataExpense: [],
    dataSale: [],
    loading: false,
    loadingExpense: false,
    loadingSale: false,
    editedIndex: -1,
    editClose: false,
    keyExpense: 0,
    keySale: 0,
    isChangedDataExpense: false,
    isChangedDataSale: false,
    isAdmin: false,
    currentSale: 0,
    currentExpense: 0,
  }),

  created() {
    this.isAdmin = this.$store.state.user.roleId == 1 ? true : false;
    console.log(this.$store.state.user);
    this.searchBranchOffice();
  },

  methods: {
    searchBranchOffice() {
      this.loading = true;
      let body = {
        sp: "sp_user_branchoffice",
        object: {},
      };
      if (!this.isAdmin) {
        body.object.UserId = this.$store.state.user.id;
      }
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          if (r.data.status_code == 200) {
            this.branchofficeList = r.data.data;
            this.loading = false;
            if (this.branchofficeList.length == 1) {
              this.object.branchOffice = this.branchofficeList[0].id;
              this.getBoxByBranchOffice(this.object.branchOffice);
            }
          } else {
            this.$toastr.error("Error al obtener las sucursales");
          }
        })
        .catch((e) => {
          console.log(e);
          this.loading = false;
          this.$toastr.error("Error al obtener los datos");
        });
    },
    getBoxByBranchOffice(value) {
      this.loading = true;
      let body = {
        sp: "sp_box_by_branchoffice",
        object: {
          BranchOffice: value,
        },
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          if (r.data.status_code == 200) this.data = r.data.data;
          else this.$toastr.error("Error al obener las cajas");
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    getExpenseDetail() {
      this.loading = true;
      let body = {
        sp: "sp_get_expense_close_box",
        object: {
          BoxId: this.object.boxId,
        },
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          if (r.data.status_code == 200) {
            this.dataExpense = [];
            r.data.data.map((item) => {
              let model = {
                idType: item.expensecatalogid,
                idDetail: item.id,
                amount: item.amount,
                description: item.description,
              };
              this.dataExpense.push(model);
            });
          } else this.$toastr.error("Error al obtener el detalle de gastos");
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    getSaleDetail() {
      this.loading = true;
      let body = {
        sp: "sp_get_sale_close_box",
        object: {
          BoxId: this.object.boxId,
        },
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          if (r.data.status_code == 200) {
            this.dataSale = [];
            r.data.data.map((item) => {
              let model = {
                idType: item.salescatalogid,
                idDetail: item.id,
                amount: item.amount,
                description: item.description,
              };
              this.dataSale.push(model);
            });
          } else this.$toastr.error("Error al obtener el detalle de ventas");
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    getSaleCatalog() {
      this.loadingSale = true;
      let body = {
        sp: "sp_get_sale_catalog",
        object: {},
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          this.loadingSale = false;
          if (r.data.status_code == 200) {
            this.optionsSale = r.data.data;
          } else {
            this.$toastr.error("Error al obtener los datos");
          }
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    getExpenseCatalog() {
      this.loadingExpense = true;
      let body = {
        sp: "sp_get_expense_catalog",
        object: {},
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          this.loadingExpense = false;
          if (r.data.status_code == 200) {
            this.optionsExpense = r.data.data;
          } else {
            this.$toastr.error("Error al obtener los datos");
          }
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    sendData() {
      console.log(this.object);

      if (!this.$refs.form.validate()) return;

      this.btnSave = true;
      let sp;
      if (this.editClose) sp = "sp_upd_close_box";
      else sp = "sp_close_box";
      let body = {
        sp: sp,
        object: {
          BoxId: this.object.boxId,
          Description: this.object.description,
          SalesAmount: this.object.salesAmount || 0,
          ClosingAmount: this.object.closingAmount || 0,
          ExpenseAmount: this.object.expenseAmount || 0,
          UserId: this.$store.state.user.id,
        },
      };
      if (this.dataExpense.length > 0) {
        body.object.ExpenseDetail = this.formatData(this.dataExpense);
      }
      if (this.dataSale.length > 0) {
        body.object.SalesDetail = this.formatData(this.dataSale);
      }

      console.log(body);
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          if (r.data.status_code == 200) {
            if (r.data.data[0] && r.data.data[0].code == 1) {
              this.dialogNotClose = true;
              this.btnSave = false;
            } else {
              this.btnSave = false;
              console.log(r);
              let branchOffice = this.object.branchOffice;
              this.getBoxByBranchOffice(branchOffice);
              Object.assign(this.object, this.defaultObject);
              this.object.branchOffice = branchOffice;
              this.dialogClose = false;
              if (this.editClose)
                this.$toastr.success("Cierre actualizado correctamente");
              else this.$toastr.success("Cierre realizado correctamente");
              this.editClose = false;
              this.isChangedDataSale = false;
              this.isChangedDataExpense = false;
              this.dataExpense = [];
              this.dataSale = [];
            }
          } else {
            this.$toastr.error("Error al realizar el cierre");
          }
        })
        .catch((e) => {
          this.btnSave = false;
          console.log(e);
          this.$toastr.error("Error al realizar el cierre");
        });
    },
    sendDataExpense() {
      if (!this.$refs.formExpense.validate()) return;
      this.editedItem.description = this.optionsExpense.filter(
        (item) => item.id == this.editedItem.idType
      )[0].description;

      if (this.editedIndex > -1)
        Object.assign(this.dataExpense[this.editedIndex], this.editedItem);
      else this.dataExpense.push(this.editedItem);

      this.cleanDialog();
      this.editedIndex = -1;
      this.isChangedDataExpense = true;
    },
    sendDataSale() {
      if (!this.$refs.formSale.validate()) return;
      this.editedItem.description = this.optionsSale.filter(
        (item) => item.id == this.editedItem.idType
      )[0].description;

      if (this.editedIndex > -1)
        Object.assign(this.dataSale[this.editedIndex], this.editedItem);
      else this.dataSale.push(this.editedItem);

      this.cleanDialog();
      this.editedIndex = -1;
      this.isChangedDataSale = true;
    },
    closeBox(obj) {
      this.object.box = obj.description;
      this.object.balance = obj.balance;
      this.object.boxId = obj.id;
      this.object.stateId = obj.stateid;
      this.object.amount = obj.amount;
      this.dialogClose = true;
      this.changeTotal();
    },
    openBox(obj) {
      this.loading = true;
      let body = {
        sp: "sp_open_box",
        object: {
          BoxId: obj.id,
          UserId: this.$store.state.user.id,
        },
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          if (r.data.status_code == 200) {
            if (r.data.data[0] && r.data.data[0].code == 1) {
              this.dialogIsOpen = true;
            } else {
              this.$toastr.success("Caja abierta correctamente");
              this.getBoxByBranchOffice(this.object.branchOffice);
              Object.assign(this.object, this.defaultObject);
            }
          } else this.$toastr.error("Error al abrir caja");
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    getColorState(id) {
      if (id == 1) return "green";
      else if (id == 2) return "orange";
      else if (id == 3) return "red";
      else if (id == 4) return "blue";
    },
    changeTotal() {
      if (this.editClose) {
        let currentBoxAmount =
          this.float(this.object.amount) -
          this.float(this.currentSale) +
          this.float(this.currentExpense);

        this.object.closingAmount = parseFloat(
          this.float(currentBoxAmount) +
            this.float(this.object.salesAmount) -
            this.float(this.object.expenseAmount)
        ).toFixed(2);
        console.log(currentBoxAmount, this.object.closingAmount);
      } else {
        this.object.closingAmount = parseFloat(
          this.float(this.object.amount) +
            this.float(this.object.salesAmount) -
            this.float(this.object.expenseAmount)
        ).toFixed(2);
      }
    },
    addExpense() {
      this.getExpenseCatalog();
      this.dialogExpense = true;
      if (this.editClose && !this.isChangedDataExpense) this.getExpenseDetail();
    },
    addSale() {
      this.getSaleCatalog();
      this.dialogSale = true;
      if (this.editClose && !this.isChangedDataSale) this.getSaleDetail();
    },
    editItemExpense(item) {
      this.editedIndex = this.dataExpense.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedIndex);
    },
    editItemSale(item) {
      this.editedIndex = this.dataSale.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedIndex);
    },

    deleteItemExpense(item) {
      this.editedIndex = this.dataExpense.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDeleteExpense = true;
      console.log(item);
    },
    deleteItemSale(item) {
      this.editedIndex = this.dataSale.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDeleteSale = true;
      console.log(item, this.editedIndex);
    },
    deleteItemConfirmExpense() {
      console.log(this.dataExpense);
      this.isChangedDataExpense = true;
      if (this.editClose) {
        this.dataExpense[this.editedIndex].deleted = true;
        this.dialogDeleteExpense = false;
        this.cleanDialog();
        this.keyExpense++;
      } else {
        this.dataExpense.splice(this.editedIndex, 1);
        this.dialogDeleteExpense = false;
        this.cleanDialog();
      }
    },
    deleteItemConfirmSale() {
      this.isChangedDataSale = true;
      console.log(this.dataSale);
      if (this.editClose) {
        this.dataSale[this.editedIndex].deleted = true;
        this.dialogDeleteSale = false;
        this.cleanDialog();
        this.keySale++;
      } else {
        this.dataSale.splice(this.editedIndex, 1);
        this.dialogDeleteSale = false;
        this.cleanDialog();
      }
    },
    cleanDialog() {
      if (this.editedItem.idType) {
        this.editedItem = {
          idType: null,
          description: "",
          amount: null,
        };
      }

      if (this.$refs.formExpense) this.$refs.formExpense.resetValidation();

      if (this.$refs.formSale) this.$refs.formSale.resetValidation();
    },
    closeDialogExpense() {
      this.editedIndex = -1;
      this.cleanDialog();
      this.dialogExpense = false;
      this.object.expenseAmount = 0;
      this.dataExpense
        .filter((elem) => elem.deleted != true)
        .map((item) => {
          this.object.expenseAmount =
            parseFloat(this.object.expenseAmount) + parseFloat(item.amount);
        });
      this.changeTotal();
    },
    closeDialogSale() {
      this.editedIndex = -1;
      this.cleanDialog();
      this.dialogSale = false;
      this.object.salesAmount = 0;
      this.dataSale
        .filter((elem) => elem.deleted != true)
        .map((item) => {
          this.object.salesAmount =
            parseFloat(this.object.salesAmount) + parseFloat(item.amount);
        });
      this.changeTotal();
    },
    formatData(data) {
      let temp = [];
      data.map((item) => {
        let model = {
          id: item.idType,
          amount: item.amount,
        };
        if (item.idDetail) model.idDetail = item.idDetail;
        if (item.deleted) model.deleted = true;
        else model.deleted = false;

        temp.push(model);
      });
      return JSON.stringify(temp);
    },
    editBoxClose(obj) {
      this.editClose = true;
      this.loadingExpenseDialog = true;
      this.loading = true;
      let body = {
        sp: "sp_get_close_box",
        object: {
          BoxId: obj.id,
          RoleId: this.$store.state.user.roleId,
        },
      };
      console.log(body);
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          this.loadingExpenseDialog = false;
          this.loading = false;
          if (r.data.status_code == 200) {
            if (!this.isAdmin && r.data.data[0].code == 1) {
              this.dialogNotPermission = true;
            } else {
              let model = r.data.data[0];
              this.object.description = model.description;
              this.object.closingAmount = model.closingamount;
              this.object.expenseAmount = model.expenseamount;
              this.object.salesAmount = model.salesamount;
              this.object.balance = model.startingamount;
              this.object.box = obj.description;
              this.object.boxId = obj.id;
              this.object.stateId = obj.stateid;
              this.object.amount = obj.amount;
              this.currentSale = model.salesamount;
              this.currentExpense = model.expenseamount;
              console.log(this.object);
              this.dialogClose = true;
              this.changeTotal();
            }
          } else {
            this.$toastr.error("Error al obtener los datos");
          }
        })
        .catch((e) => {
          this.loadingExpenseDialog = false;
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    closeDialogDelete() {
      this.dialogDeleteSale = false;
      this.dialogDeleteExpense = false;
      this.cleanDialog();
      this.editedIndex = -1;
    },
    changeStateBox(stateId) {
      let body = {
        sp: "sp_upd_state_close_box",
        object: {
          BoxId: this.object.boxId,
          StateId: stateId,
          UserId: this.$store.state.user.id,
        },
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          this.loadingExpense = false;
          if (r.data.status_code == 200) {
            this.dialogClose = false;
            this.editClose = false;
            this.getBoxByBranchOffice(this.object.branchOffice);
            Object.assign(this.object, this.defaultObject);
            if (stateId == 4) {
              this.$toastr.success("Cierre aprobado correctamente");
            } else this.$toastr.success("Cierre realizado correctamente");
          } else {
            this.$toastr.error("Error al actualizar caja");
          }
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    float(value) {
      return parseFloat(parseFloat(value || 0).toFixed(2));
    },
  },
};
</script>

<style lang="sass">
.v-list-item__title
	text-align: left !important
</style>
