<template>
  <v-main>
    <v-toolbar>
      <v-icon class="mr-1">fa-cash-register</v-icon>
      <p class="text-h6 mt-5">Cierre de caja</p>
      <v-spacer></v-spacer>
      <v-btn small color="success" @click="addBoxClose">
        <v-icon small class="mr-1">fa-plus</v-icon>Cerrar caja
      </v-btn>
    </v-toolbar>
    <v-card class="mt-5">
      <v-card-text>
        <v-flex md4 xs10 sm6 class="pa-0 mb-0 ml-1">
          <v-text-field
            type="search"
            placeholder="Buscar por descripción"
            class="pa-0"
            v-model="text"
          >
            <v-icon slot="append" small class="py-2">fa-search</v-icon>
          </v-text-field>
        </v-flex>
        <v-divider></v-divider>
        <v-simple-table dense>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-center" width="30">#</th>
                <th>Fecha</th>
                <th>Caja</th>
                <th>Descripción</th>
                <th>Usuario</th>
                <th>Monto inicial</th>
                <th>Monto ventas</th>
                <th>Monto final</th>
                <th width="30"></th>
              </tr>
            </thead>
            <tbody v-if="!btnSearch">
              <tr v-for="(i, idx) in filtered" :key="i.id">
                <td class="text-center">{{ idx + 1 }}</td>
                <td class="text-left">
                  {{ i.dateCreated | formatDate("MM/DD/YYYY hh:mm") }}
                </td>
                <td class="text-left">{{ i.box.description }}</td>
                <td class="text-left">
                  <a
                    href="javascript:;"
                    title="Editar"
                    @click="editBoxClose(idx)"
                    class="text-decoration-none"
                    >{{ i.description }}</a
                  >
                </td>
                <td class="text-left">
                  {{ i.userCreatedNavigation.name }}
                  {{ i.userCreatedNavigation.lastname }}
                </td>
                <td class="text-right">{{ i.startingAmount | numeral("0,0.00") }}</td>
                <td class="text-right">{{ i.salesAmount | numeral("0,0.00") }}</td>
                <td class="text-right">{{ i.closingAmount | numeral("0,0.00") }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr v-if="btnSearch">
                <td colspan="100" class="text-center py-10">
                  <v-progress-circular
                    :size="30"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <p>Buscando...</p>
                </td>
              </tr>
              <tr v-if="filtered.length == 0 && !btnSearch">
                <td colspan="100" class="text-center py-10">
                  <v-icon small class="mr-1">fa-info-circle</v-icon>No se encontraron
                  cierres de caja
                </td>
              </tr>
            </tfoot>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>

    <template>
      <v-row justify="center">
        <v-dialog v-model="dialogForm" persistent max-width="700px">
          <v-card>
            <v-card-title>
              <span class="text-h5">Cierre de caja</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-form @submit.prevent="save">
                <v-container>
                  <p class="text-left font-italic mb-5 px-0 mt-3">
                    Todos los campos marcados con (<span class="red--text">*</span>) son
                    obligatorios
                  </p>
                  <v-row>
                    <v-col cols="6" sm3 class="py-0">
                      <v-select
                        :items="catalogo.boxes"
                        v-model="form.boxId"
                        item-value="id"
                        item-text="description"
                        label="Caja *"
                        required
                        :returno-bject="false"
                      />
                    </v-col>
                    <v-col cols="6" sm3 class="py-0">
                      <v-text-field
                        label="Descripción *"
                        v-model="form.description"
                        required
                        :counter="true"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm3 class="py-0">
                      <v-text-field
                        label="Monto inicial *"
                        v-model="form.startingAmount"
                        type="number"
                        step="any	"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm3 class="py-0">
                      <v-text-field
                        label="Monto de ventas *"
                        v-model="form.salesAmount"
                        type="number"
                        step="any	"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm3 class="py-0">
                      <v-text-field
                        label="Monto de cierre *"
                        v-model="form.closingAmount"
                        type="number"
                        step="any	"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
                <v-row class="mb-2 mt-10">
                  <v-spacer></v-spacer>
                  <v-btn color="error" class="mr-1" small @click="dialogForm = false">
                    <v-icon small class="mr-1">fa-times</v-icon>Cerrar
                  </v-btn>
                  <v-btn color="primary" small type="submit" :disabled="btnSave">
                    <v-icon small class="mr-1">fa-save</v-icon>
                    {{ btnSave ? "Guardando..." : "Guardar" }}
                  </v-btn>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </v-main>
</template>
<script>
import Action from "@/mixins/Action.js";

export default {
  name: "blox-close",
  mixins: [Action],
  data: () => ({
    dialogForm: false,
    btnSearch: false,
    service: "boxclose",
    selfSearch: true,
    scrollTo: false,
  }),
  created() {
    this.getSpValues(
      "SP_USER_BOXES",
      {
        userId: this.$store.state.user.id,
      },
      "boxes"
    );
  },
  methods: {
    editBoxClose(idx) {
      this.dialogForm = true;
      this.edit(idx);
    },
    addBoxClose() {
      this.clean();
      this.dialogForm = true;
    },
  },
  computed: {
    userBoxes() {
      let aux = [];
      if (this.catalogo.boxes) {
        this.catalogo.boxes.forEach((i) =>
          aux.push({
            text: i.description,
            value: i.id,
          })
        );
      }

      return aux;
    },
    filtered() {
      if (this.text) {
        return this.list.filter((o) =>
          o.description.toLowerCase().includes(this.text.toLowerCase())
        );
      } else {
        return this.list;
      }
    },
  },
  watch: {
    "form.boxId"(n) {
      console.log(n);
    },
  },
  
};
</script>
