<template>
  <v-main>
    <v-card>
      <v-card-text>
        <template>
          <v-toolbar flat class="mb-10">
            <v-toolbar-title>Transferencias</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  color="grey"
                  class="mr-4"
                  v-on="{ ...tooltip }"
                  @click="reloadData"
                >
                  <v-icon small>fas fa-redo</v-icon>
                </v-btn>
              </template>
              <span>Recargar</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-flex md3 xs10 sm4 class="mt-5">
              <v-select
                v-model="nameBranchOffice"
                :items="getBranchOffice"
                item-text="name"
                item-value="id"
                placeholder="Sucursal"
              >
              </v-select>
            </v-flex>
            <v-flex md3 xs10 sm4 class="mt-5" v-if="nameBranchOffice != ''">
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="startDate"
                    label="Fecha inicio"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="bform.fdel" @input="menu = false"></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex md3 xs10 sm4 class="mt-5" v-if="nameBranchOffice != ''">
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="endingDate"
                    label="Fecha fin"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="bform.fal" @input="menu2 = false"></v-date-picker>
              </v-menu>
            </v-flex>
            <v-btn color="primary" class="ml-2 py-0" @click="search"> Buscar </v-btn>
          </v-toolbar>
        </template>
        <v-row justify-center>
          <v-col cols="12" class="px-7 py-8" v-if="nameBranchOffice == ''">
            <v-divider></v-divider>
            <v-alert dense text color="primary" class="mt-5 text-center">
              <v-icon small color="blue">fas fa-info-circle</v-icon>
              Por favor, seleccione una sucursal para poder visualizar la información.
            </v-alert>
          </v-col>

          <template v-else>
            <v-col cols="12" md="4">
              <div class="text-center" v-if="btnSearch">
                <v-progress-circular indeterminate color="primary"></v-progress-circular>
              </div>
              <v-list two-line v-if="!btnSearch">
                <v-subheader class="py-0 mb-0">Cajas Disponibles</v-subheader>
                <v-divider></v-divider>
                <v-list-item v-for="i in filterBox" :key="i.id" class="mt-1" link>
                  <v-list-item-content>
                    <v-list-item-title>{{ i.description }}</v-list-item-title>
                    <v-list-item-subtitle>
                      <b>Saldo actual:</b> {{ i.balance }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                  <v-spacer></v-spacer>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                      <v-btn
                        icon
                        :disabled="btnSave"
                        @click="openModal(i)"
                        v-on="{ ...tooltip }"
                        color="green accent-4"
                      >
                        <v-icon small>fas fa-exchange-alt</v-icon>
                      </v-btn>
                    </template>
                    <span>Transferir</span>
                  </v-tooltip>
                </v-list-item>
              </v-list>
            </v-col>
            <v-divider inset vertical hidden-sm-and-down></v-divider>
            <v-col cols="12" md="8">
              <!--v-btn class="mb-5 pa-0" color="success" text style="opacity: 0">
                <export-excel
                  :data="filtered"
                  :fields="headersExcel"
                  :name="'transferencia' + nameBranchOffice + '.xls'"
                >
                  <v-btn text>
                    <v-icon color="green" class="mr-2">fas fa-file-excel</v-icon>
                    <b>Exportar a Excel</b>
                  </v-btn>
                </export-excel>
              </v-btn-->
              <v-container
              class="px-3 py-0"
              fluid
              >
                <v-switch
                v-model="seeEarrings"
                label="Ver transferencias sin autorizar"
                ></v-switch>
              </v-container>
              <v-divider></v-divider>
              <v-card-text class="px-0">
                <v-data-table
                  :headers="headers"
                  :items="filtered"
                  :loading="btnSearch"
                  loading-text="Buscando datos... Espere por favor"
                >
                  <template v-slot:item="{ item }">
                    <tr>
                      <td><span>{{ filtered.indexOf(item) + 1 }}</span></td>
                      <td>{{item.box.description}}</td>
                      <td class="text-md-end">{{item.startingAmount | numeral("0, 0.00")}}</td>
                      <td class="text-md-end">{{item.closingAmount | numeral("0, 0.00") }}</td>
                      <td class="text-md-end"> {{ item.amount | numeral("0,0.00") }} </td>
                      <td>
                        {{ item.dateCreated | formatDate("DD/MM/YYYY") }}
                      </td>
                      <td>
                        <v-chip small :color="getColorAuthorized(item.authorized)" dark>
                          {{ item.authorized ? 'Autorizado':'Pendiente' }}
                        </v-chip>
                      </td>
                    </tr>
                  </template> 
                </v-data-table>
              </v-card-text>
            </v-col>
          </template>
        </v-row>
      </v-card-text>
    </v-card>

    <v-dialog v-model="dialog" persistent max-width="700px">
      <v-form ref="form">
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ box.description }}</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-container>
              <p class="text-left font-italic mb-5 px-0">
                Todos los campos marcados con (<span class="red--text">*</span>) son
                obligatorios
              </p>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="currentAmount"
                    label="Monto actual"
                    type="number"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="form.amount"
                    label="Monto a transferir *"
                    type="number"
                    :rules="ruleAmount"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="closingAmount"
                    label="Monto Final *"
                    type="number"
                    disabled
                    hint="Este valor se calcula automáticamente"
                    persistent-hint
                    :change="getClosingAmount()"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" class="mr-1" small @click="closeModal">
              <v-icon small class="mr-1">fa-times</v-icon>Cerrar
            </v-btn>
            <v-btn color="primary" small :disabled="btnSave" @click="confirmAction" v-if="montoValido">
              <v-icon small class="mr-1">fa-save</v-icon>
              {{ btnSave ? "Guardando..." : "Guardar" }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <v-dialog v-model="dialogConfirm" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Transferir</v-card-title>
        <v-card-text
          >¿Esta seguro que desea transferir el monto de {{ form.amount }} a caja
          general?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogConfirm = false"
            >Cancelar</v-btn
          >
          <v-btn color="blue darken-1" text @click="saveTransfer()">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";
export default {
  name: "BoxTransfer",
  mixins: [Action],
  data: () => ({
    service: "boxtransfer",
    nameBranchOffice: "",
    currentAmount: null,
    closingAmount: null,
    selfSearch: true,
    dialog: false,
    dialogConfirm: false,
    menu: false,
    menu2: false,
    seeEarrings: false,
    filter: null,
    date: "",
    headers: [
      { text: "#", value: "index" },
      { text: "Caja", value: "box.description" },
      { text: "Monto Inicial", value: "startingAmount" },
      { text: "Monto Final", value: "closingAmount" },
      { text: "Monto Transferencia", value: "amount" },
      { text: "Fecha", value: "dateCreated", align: "center" },
      { text: "Estado", value: "authorized", align: "center" }
    ],
    headersExcel: {
      Caja: "box.description",
      "Monto Inicial": "startingAmount",
      "Monto Final": "closingAmount",
      "Monto Transferencia": "amount",
    },
    listUserB: [],
    listBox: [],
    ruleAmount: [
      (val) => !!val || "Debe ingresar un monto",
      (v) =>
        /(^\d+(\.\d{1,2})?$)/.test(v) ||
        "Puede ingresar montos enteros o con dos decimales",
    ],
    box: {},
    detailTransfer: null,
    montoValido: false
  }),
  created() {
    this.getBranchOfficeUser();
    this.getBox();
  },
  methods: {
    getBranchOfficeUser() {
      this.$http
        .get(`${this.urlBase}/userbranchoffice`)
        .then((r) => {
          this.listUserB = r.data.list;
          this.dataLoaded = true;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getBox() {
      this.$http
        .get(`${this.urlBase}/box`)
        .then((r) => {
          this.listBox = r.data.list;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    saveTransfer() {
      if (this.$refs.form.validate()) {
        this.form.boxId = this.box.id;
        this.btnSave = true;
        this.$http
          .post(`${this.urlBase}/${this.service}/${this.reg}`, this.form)
          .then((r) => {
            if (r.data.success) {
              this.dialogConfirm = false;
              this.$toastr.success(r.data.message);
              if (this.reg == "") {
                this.clean();
                this.$refs.form.resetValidation();
              }
              if (r.data.record) {
                if (this.reg == "") {
                  if (this.startArray) {
                    this.list.unshift(r.data.record);
                  } else {
                    this.list.push(r.data.record);
                  }
                }
              }
            } else {
              this.$toastr.error(r.data.message);
            }
            this.btnSave = false;
          })
          .catch((e) => {
            this.$toastr.error(e);
            this.btnSave = false;
          });
      }
    },
    getClosingAmount() {
      if (this.currentAmount && this.form.amount) {
        this.closingAmount = (
          parseFloat(this.currentAmount) - parseFloat(this.form.amount)
        ).toFixed(2);
      } else {
        this.closingAmount = null;
      }
    },
    confirmAction() {
      if (this.$refs.form.validate()) {
        this.dialogConfirm = true;
      }
    },
    openModal(obj) {
      this.box = obj;
      this.currentAmount = this.box.balance;
      this.dialog = true;
    },
    closeModal() {
      this.dialog = false;
      this.clean();
      this.$refs.form.resetValidation();
    },
    reloadData() {
      this.bform = {};
      this.startDate = "";
      this.endingDate = "";
      this.getBox()
      this.search();
    },
    getColorAuthorized(authorized) {
      if (authorized) return "green"
        else return "orange"
    }
  },
  computed: {
    filtered() {
      if (this.nameBranchOffice) {
        if (this.seeEarrings) {
          return this.list.filter((e) => e.box.branchOfficeId == this.nameBranchOffice && e.authorized == false);
        } else {
          return this.list.filter((e) => e.box.branchOfficeId == this.nameBranchOffice);
        }
      }

      return [];
    },
    getBoxB() {
      let tmp = [];

      if (this.$store.state.user.roleId == 2) {
        this.listUserB.filter((o) => {
          if (o.userId == this.$store.state.user.id) {
            tmp.push(o.branchOfficeId);
          }
        });

        let datos = [];
        if (tmp) {
          for (let i in tmp) {
            this.listBox.forEach((e) => {
              if (e.branchOfficeId == tmp[i]) {
                datos.push(e);
              }
            });
          }
        }
        return datos;
      } else {
        return this.listBox;
      }
    },
    filterBox() {
      if (this.nameBranchOffice) {
        return this.getBoxB.filter((e) => e.branchOffice.id == this.nameBranchOffice);
      } else {
        return [];
      }
    },
    getBranchOffice() {
      let datos = [];

      this.getBoxB.forEach((e) => {
        if (!datos.includes(e.branchOffice.description)) {
          datos.push({ name: e.branchOffice.description, id: e.branchOffice.id });
        }
      });

      return datos;
    }
  },
  watch: {
    "form.amount"(v) {
      if (v) {
        if (v > this.currentAmount) {
          this.$toastr.warning("El monto a trasferir es mayor al monto actual");
          this.montoValido = false
        }else {
          this.montoValido = true
        }
      }
    },
    "bform.fdel"(v) {
      if (v) {
        this.startDate = this.dateFormatInput(v);
      }
    },
    "bform.fal"(v) {
      if (v) {
        this.endingDate = this.dateFormatInput(v);
      }
    }
  },
};
</script>
