<template>
  <v-main>
    <v-card>
      <v-card-text>
        <v-toolbar flat>
          <v-toolbar-title>Sucursales</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-flex md4 xs10 sm6 class="pa-4">
            <v-text-field placeholder="Buscar" class="pt-4" v-model="text">
              <v-icon slot="append" small class="py-2">fa-search</v-icon>
            </v-text-field>
          </v-flex>
          <v-btn color="primary" @click="addBranchOffice"> Agregar </v-btn>
        </v-toolbar>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="filtered"
            :search="text"
            :loading="btnSearch"
            :loading-text="btnSearch ? 'Buscando... Espere por favor' : ''"
          >
            <template v-slot:item.dateCreated="{ item }">
              <span>{{ item.dateCreated | formatDate("MM/DD/YYYY hh:mm") }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                    @click="editBranch(filtered.indexOf(item))"
                  >
                    <v-icon small>fas fa-pen</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on" @click="deleteOffice(item)">
                    <v-icon small>fas fa-trash</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card-text>
    </v-card>

    <template>
      <v-row justify="center">
        <v-dialog v-model="dialogBranch" persistent max-width="700px">
          <v-card>
            <v-card-title>
              <span class="text-h5">{{
                reg != "" ? form.description : "Nueva Sucursal"
              }}</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-form ref="form" @submit.prevent="saveOffice" lazy-validation>
                <v-container>
                  <p class="text-left font-italic mb-5 px-0 mt-3">
                    Todos los campos marcados con (<span class="red--text">*</span>) son
                    obligatorios
                  </p>
                  <v-row>
                    <v-col cols="6" sm3 class="py-0">
                      <v-text-field
                        label="Descripción *"
                        v-model="form.description"
                        :rules="[(val) => !!val || 'Ingrese la descripción']"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm3 class="py-0">
                      <v-text-field
                        label="Dirección *"
                        v-model="form.address"
                        :rules="[(val) => !!val || 'Ingrese la dirección']"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm3 class="py-0">
                      <v-text-field
                        label="No. Teléfono *"
                        v-model="form.phoneNumber"
                        :rules="[(val) => !!val || 'Ingrese número de telefono']"
                        v-mask="'+56 ###-###-###'"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
                <v-row class="mb-2 mt-10">
                  <v-spacer></v-spacer>
                  <v-btn color="error" class="mr-1" small @click="closeDialog">
                    <v-icon small class="mr-1">fa-times</v-icon>Cerrar
                  </v-btn>
                  <v-btn color="primary" small type="submit" :disabled="btnSave">
                    <v-icon small class="mr-1">fa-save</v-icon>
                    {{ btnSave ? "Guardando..." : "Guardar" }}
                  </v-btn>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Eliminar</v-card-title>
        <v-card-text
          >¿Esta seguro que desea eliminar la sucursal:
          {{ this.currentItem.description }}?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="removeOffice">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";
export default {
  name: "BranchOffice",
  mixins: [Action],
  data: () => ({
    dialogBranch: false,
    btnSearch: false,
    dialogDelete: false,
    currentItem: {},
    headers: [
      { text: "Descripción", value: "description" },
      { text: "Dirección", value: "address" },
      { text: "Teléfono", value: "phoneNumber" },
      { text: "Fecha registro", value: "dateCreated" },
      { text: "Acciones", value: "actions", sortable: false, align: "center" },
    ],
  }),
  created() {
    this.service = "branchoffice";
    this.selfSearch = true;
  },
  methods: {
    editBranch(idx) {
      this.form.companyId = this.$store.getters.company.id;
      this.dialogBranch = true;
      this.edit(idx);
    },
    addBranchOffice() {
      this.dialogBranch = true;
    },
    deleteOffice(obj) {
      this.currentItem = obj;
      this.dialogDelete = true;
    },
    removeOffice() {
      this.remove(this.currentItem);
      this.dialogDelete = false;
    },
    saveOffice() {
      if (this.$refs.form.validate()) {
        this.form.companyId = this.$store.getters.company.id;
        this.save(this.$refs.form);
      }
    },
    closeDialog() {
      this.dialogBranch = false;
      this.clean();
      this.$refs.form.resetValidation();
    },
  },
};
</script>
