<template>
  <v-main>
    <v-card>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="data"
          :items-per-page="10"
          :search="textSearch"
          :loading="loading"
          loading-text="Cargando datos..."
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Tipos de Gastos</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <v-text-field
                md4
                xs10
                sm6
                v-model="textSearch"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
                class="mr-4"
              ></v-text-field>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                    Agregar
                  </v-btn>
                </template>
                <v-form ref="form" @submit.prevent="sendData(false)">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="12">
                            <v-text-field
                              v-model="editedItem.description"
                              label="Descripción"
                              :rules="[(val) => !!val || 'Ingrese la descripción']"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="error" class="mr-1" small @click="closeDialog">
                        <v-icon small class="mr-1">fa-times</v-icon>Cerrar
                      </v-btn>
                      <v-btn color="primary" small type="submit" :disabled="btnSave">
                        <v-icon small class="mr-1">fa-save</v-icon>
                        {{ btnSave ? "Guardando..." : "Guardar" }}
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-form>
              </v-dialog>
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h6">Eliminar</v-card-title>
                  <v-card-text
                    >¿Esta seguro que desea eliminar el tipo de gasto:
                    {{ editedItem.description }}?</v-card-text
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialogDelete = false"
                      >Cancelar</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="sendData(true)"
                      >Aceptar</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.options="{ item }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  :disabled="btnSave"
                  @click="deleteItem(item)"
                  v-on="{ ...tooltip }"
                >
                  <v-icon small>fas fa-trash</v-icon>
                </v-btn>
              </template>
              <span>Eliminar</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn icon v-on="{ ...tooltip }" @click="editItem(item)">
                  <v-icon small>fas fa-pen</v-icon>
                </v-btn>
              </template>
              <span>Editar</span>
            </v-tooltip>
          </template>
          <template v-slot:no-data>
            <div class="text-center py-10">
              <v-icon small class="mr-1">fa-info-circle</v-icon>No se encontraron tipos de
              gastos
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-main>
</template>
<script>
import Action from "@/mixins/Action.js";
export default {
  mixins: [Action],
  data: () => ({
    textSearch: "",
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "#",
        value: "id",
      },
      {
        text: "Descripción",
        value: "description",
      },
      {
        text: "Acciones",
        value: "options",
      },
    ],
    data: [],
    editedItem: {
      id: null,
      description: "",
    },

    loading: false,
  }),

  computed: {
    formTitle() {
      return this.editedItem.id ? "Editar Tipo de Gasto" : "Agregar Tipo de Gasto";
    },
  },

  created() {
    this.getData();
  },

  methods: {
    getData() {
      this.loading = true;
      let body = {
        sp: "sp_get_expense_catalog",
        object: {},
      };
      this.$http
        .post(`${this.urlBase}/values`, body)
        .then((r) => {
          console.log(r);
          this.loading = false;
          if (r.data.status_code == 200) {
            this.data = r.data.data;
          } else {
            this.$toastr.error("Error al obtener los datos");
          }
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
          this.$toastr.error("Error al obtener los datos");
        });
    },
    sendData(deleted) {
      if (deleted || this.$refs.form.validate()) {
        this.btnSave = true;
        let body = {
          sp: "sp_ins_upd_expense_catalog",
          object: {
            description: this.editedItem.description,
            userId: this.$store.state.user.id,
            deleted: deleted,
          },
        };
        if (this.editedItem.id) {
          body.object.id = this.editedItem.id;
        }
        this.$http

          .post(`${this.urlBase}/values`, body)
          .then((r) => {
            console.log(r);
            this.btnSave = false;
            if (r.data.status_code == 200) {
              if (deleted) {
                this.$toastr.success("Tipo de gasto eliminado correctamente");
                this.dialogDelete = false;
                this.editedItem = {
                  id: null,
                  description: "",
                };
                this.$refs.form.resetValidation();
              } else {
                if (this.editedItem.id) {
                  this.$toastr.success("Tipo de gasto editado correctamente");
                } else {
                  this.$toastr.success("Tipo gasto agregado correctamente");
                  this.editedItem = {
                    id: null,
                    description: "",
                  };
                  this.$refs.form.resetValidation();
                }
              }
              this.getData();
            } else {
              this.$toastr.error("Se ha producido un error");
            }
          })
          .catch((e) => {
            this.btnSave = false;
            console.log(e);
            this.$toastr.error("Error al obtener los datos");
          });
      }
    },
    closeDialog() {
      this.dialog = false;
      this.editedItem = {
        id: null,
        description: "",
      };
      this.$refs.form.resetValidation();
    },

    editItem(item) {
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
  },
};
</script>
