<template>
  <v-main>
    <v-card>
      <v-card-text>
        <template>
          <v-toolbar flat>
            <v-toolbar-title>Gastos</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  color="grey"
                  class="mr-4"
                  v-on="{ ...tooltip }"
                  @click="reloadData"
                >
                  <v-icon small>fas fa-redo</v-icon>
                </v-btn>
              </template>
              <span>Recargar</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-text-field
              md4
              xs10
              sm6
              v-model="text"
              append-icon="mdi-magnify"
              label="Buscar"
              single-line
              hide-details
              class="mr-4"
            ></v-text-field>
            <v-btn color="green" class="mr-1 white--text" @click="openFilter"> Filtros </v-btn>
            <v-btn color="primary" @click="addSpending"> Agregar </v-btn>
          </v-toolbar>
        </template>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="filtered"
            :search="text"
            :loading="btnSearch"
            loading-text="Buscando datos... Espere por favor"
          >
            <template v-slot:item.index="{ item }">
              <span>{{ filtered.indexOf(item) + 1 }}</span>
            </template>
            <template v-slot:item.dateCreated="{ item }">
              <span>{{ item.dateCreated | formatDate("DD/MM/YYYY") }}</span>
            </template>
            <template v-slot:item.amount="{ item }">
              <span>{{ item.amount.toFixed(2) }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                    @click="editSpending(filtered.indexOf(item))"
                  >
                    <v-icon small>fas fa-pen</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on" @click="deletedSpending(item)">
                    <v-icon small>fas fa-trash</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card-text>
    </v-card>

    <v-dialog v-model="dialogAdd" persistent max-width="600px">
      <v-card>
        <v-card-title>
          {{ reg != "" ? form.description : "Nuevo Gasto" }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <p class="text-left font-italic mb-5 px-0 mt-3">
            Todos los campos marcados con (<span class="red--text">*</span>) son
            obligatorios
          </p>
          <v-form @submit.prevent="saveSpending" ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" md="12" class="py-0 mb-0">
                  <v-select
                    label="Tipo de Gasto *"
                    v-model="form.expenseCatalogId"
                    :items="catalogo.expenseCatalog"
                    item-text="description"
                    item-value="id"
                    :rules="[(val) => !!val || 'Seleccione un tipo de gasto']"
                  >
                  </v-select>
                </v-col>
                <v-col cols="12" md="12" class="py-0">
                  <v-text-field
                    label="Descripción *"
                    v-model="form.description"
                    :rules="[(val) => !!val || 'Ingrese la descripción']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" class="py-0">
                  <v-text-field
                    label="Monto *"
                    type="number"
                    v-model="form.amount"
                    :rules="ruleAmount"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="mb-2 mt-10">
                <v-spacer></v-spacer>
                <v-btn color="error" class="mr-1" small @click="closeDialog">
                  <v-icon small class="mr-1">fa-times</v-icon>Cerrar
                </v-btn>
                <v-btn color="primary" small type="submit" :disabled="btnSave">
                  <v-icon small class="mr-1">fa-save</v-icon>
                  {{ btnSave ? "Guardando..." : "Guardar" }}
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Eliminar</v-card-title>
        <v-card-text
          >¿Esta seguro que desea eliminar el gasto:
          {{ this.currentItem.description }}?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="removeSpending">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalFilter" persistent max-width="700px">
      <v-card>
        <v-card-title>
          Filtros
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row class="mt-5">
            <v-col cols="12" sm="6">
              <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
              >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                v-model="startDate"
                label="Fecha inicio"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
              v-model="bform.fdel"
              @input="menu = false"
              ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" sm="6">
              <v-menu
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
              >
              <template v-slot:activator="{ on, attrs }">
              <v-text-field
              v-model="endingDate"
              label="Fecha fin"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
              ></v-text-field>
              </template>
              <v-date-picker
              v-model="bform.fal"
              @input="menu2 = false"
              ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" class="text-end">
              <v-btn color="blue darken-1" text @click="modalFilter = false">
                <v-icon small class="mr-1">fas fa-times</v-icon>Cancelar
              </v-btn>
              <v-btn color="deep-purple lighten-2" class="ml-2 py-0 white--text" @click="searchSpending">
                <v-icon small class="mr-1" color="white">fas fa-check</v-icon>
                Aplicar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";

export default {
  name: "Spending",
  mixins: [Action],
  data: () => ({
    service: "spending",
    selfSearch: true,
    dialogAdd: false,
    dialogDelete: false,
    modalFilter: false,
    menu: false,
    menu2: false,
    currentItem: {},
    headers: [
      { text: "#", value: "index", sortable: false, align: "start" },
      { text: "Descripción", value: "description" },
      { text: "Tipo de Gasto", value: "expenseCatalog.description" },
      { text: "Monto", value: "amount" },
      { text: "Fecha registro", value: "dateCreated", align: "center" },
      { text: "Acciones", value: "actions", sortable: false, align: "center" },
    ],
    ruleAmount: [
      (val) => !!val || "Debe ingresar un monto",
      (v) =>
        /(^\d+(\.\d{1,2})?$)/.test(v) ||
        "Puede ingresar montos enteros o con dos decimales",
    ],
  }),
  created() {
    this.getSpValues(
      "SP_GENERAL_BOXES",
      { companyId: this.$store.getters.company.id },
      "generalBox"
    );

    this.getSpValues("SP_EXPENSE_CATALOG", {}, "expenseCatalog");
  },
  methods: {
    addSpending() {
      this.dialogAdd = true;
      this.clean();
    },
    editSpending(idx) {
      this.dialogAdd = true;
      this.edit(idx);
    },
    saveSpending() {
      this.catalogo.generalBox.forEach((e) => {
        this.form.generalBoxId = e.id;
      });
      if (this.$refs.form.validate()) {
        this.save(this.$refs.form);
      }
    },
    deletedSpending(obj) {
      this.currentItem = obj;
      this.dialogDelete = true;
    },
    closeDialog() {
      this.dialogAdd = false;
      this.form = {};
      this.$refs.form.resetValidation();
    },
    removeSpending() {
      this.remove(this.currentItem);
      this.dialogDelete = false;
    },
    openFilter() {
      this.bform = {}
      this.startDate = ""
      this.endingDate = ""
      this.filter = true;
      this.modalFilter = true;
    },
    searchSpending() {
      this.search();
      this.modalFilter = false;
    },
    reloadData() {
      this.bform = {}
      this.search()
    }
  },
  watch: {
    'bform.fdel' (v) {
      if (v) {
        this.startDate = this.dateFormatInput(v);
      }
    },
    'bform.fal' (v) {
      if (v) {
        this.endingDate = this.dateFormatInput(v);
      }
    },
  }
};
</script>
