<template>
  <v-main>
    <v-card>
      <v-card-text>
        <v-toolbar flat>
          <v-toolbar-title>Usuarios</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-flex md4 xs10 sm6 class="pa-4">
            <v-text-field placeholder="Buscar" class="pt-4" v-model="text">
              <v-icon slot="append" small class="py-2">fa-search</v-icon>
            </v-text-field>
          </v-flex>
          <v-btn color="primary" @click="addUser"> Agregar </v-btn>
        </v-toolbar>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="filtered"
            :search="text"
            :loading="btnSearch"
            :loading-text="btnSearch ? 'Buscando... Espere por favor' : ''"
          >
            <template v-slot:item.actions="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                    @click="editUser(filtered.indexOf(item))"
                  >
                    <v-icon small>fas fa-pen</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on" @click="deleteUser(item)">
                    <v-icon small>fas fa-trash</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card-text>
    </v-card>

    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Eliminar</v-card-title>
        <v-card-text
          >¿Esta seguro que desea eliminar el usuario:
          {{ this.currentItem.name }}?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="removeUser">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <template>
      <v-row justify="center">
        <v-dialog v-model="modal" persistent max-width="550px">
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ reg != "" ? form.code : "Nuevo Usuario" }}</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-form @submit.prevent="saveUser" ref="form">
                <p class="text-left font-italic mb-0 px-0 mt-3">
                  Todos los campos marcados con (<span class="red--text">*</span>) son
                  obligatorios
                </p>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        label="Nombre *"
                        v-model="form.name"
                        :rules="[(val) => !!val || 'Ingrese el nombre']"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        label="Apellido *"
                        v-model="form.lastname"
                        :rules="[(val) => !!val || 'Ingrese el apellido']"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" v-if="reg == ''">
                      <v-select
                        v-model="form.roleId"
                        :rules="[(val) => !!val || 'Seleccione el rol']"
                        :items="optionsRole"
                        label="Rol *"
                      ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        label="Correo electrónico *"
                        persistent-hint
                        v-model="form.email"
                        :rules="[
                          (val) => !!val || 'Ingrese correo electrónico',
                          (v) => /.+@.+\..+/.test(v) || 'El fomato no es válido',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        label="Usuario *"
                        :rules="[(val) => !!val || 'Ingrese el usuario']"
                        v-model="form.code"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="10" sm="6" v-if="reg == ''">
                      <v-text-field
                        type="password"
                        label="Contraseña *"
                        class="mb-0"
                        v-model="form.password"
                        :rules="[(val) => !!val || 'Ingrese la contraseña']"
                      ></v-text-field>
                      <v-row v-if="reg != ''">
                        <v-checkbox
                          v-model="editPass"
                          hide-details
                          class="shrink mr-2 mt-0 ml-2"
                        ></v-checkbox>
                        <span class="mt-2">Modificar contraseña</span>
                      </v-row>
                    </v-col>
                  </v-row>
                  <v-row class="mb-2 mt-10">
                    <v-spacer></v-spacer>
                    <v-btn color="error" class="mr-1" small @click="closeDialog">
                      <v-icon small class="mr-1">fa-times</v-icon>Cerrar
                    </v-btn>
                    <v-btn color="primary" small type="submit" :disabled="btnSave">
                      <v-icon small class="mr-1">fa-save</v-icon>
                      {{ btnSave ? "Guardando..." : "Guardar" }}
                    </v-btn>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";
export default {
  name: "User",
  mixins: [Action],
  data: () => ({
    modal: false,
    dialogDelete: false,
    currentItem: {},
    optionsRole: [],
    headers: [
      { text: "Nombre", value: "name" },
      { text: "Apellido", value: "lastname" },
      { text: "Correo", value: "email" },
      { text: "Usuario", value: "code" },
      { text: "Rol", value: "role.name" },
      { text: "Acciones", value: "actions", sortable: false, align: "center" },
    ],
  }),
  created() {
    this.service = "users";
    this.selfSearch = true;
    this.roles();
  },
  mounted() {},
  methods: {
    editUser(idx) {
      this.edit(idx);
      delete this.form.password;
      this.modal = true;
    },
    addUser() {
      this.editPass = true;
      this.modal = true;
    },
    deleteUser(obj) {
      this.currentItem = obj;
      this.dialogDelete = true;
    },
    removeUser() {
      this.remove(this.currentItem);
      this.dialogDelete = false;
    },
    saveUser() {
      if (this.$refs.form.validate()) {
        this.save(this.$refs.form);
      }
    },
    closeDialog() {
      this.modal = false;
      this.clean();
      this.$refs.form.resetValidation();
    },
    roles() {
      this.$http
        .get(`${this.urlBase}/role`)
        .then((response) => {
          if (response.data.list) {
            this.optionsRole = [];
            response.data.list.map((item) => {
              let model = {
                text: item.name,
                value: item.id,
              };
              this.optionsRole.push(model);
            });
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
<style lang="sass">
.v-list-item__title
	text-align: left !important
</style>
