<template>
  <v-main>
    <v-row>
      <v-col cols="12" sm="4">
        <v-card>
          <template>
            <v-toolbar flat>
              <v-toolbar-title class="pt-5 mt-3">Usuarios disponibles</v-toolbar-title>
            </v-toolbar>
          </template>
          <v-card-text>
            <v-simple-table class="text-left">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center" width="30">#</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody v-if="!btnSearch">
                  <tr v-for="(i, idx) in userList" :key="i.id">
                    <td>{{ idx + 1 }}</td>
                    <td>{{ i.name }} {{ i.lastname }}</td>

                    <td class="text-center">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on: tooltip }">
                          <v-btn
                            icon
                            :disabled="btnSave"
                            @click="addUserBranch(i)"
                            v-on="{ ...tooltip }"
                            color="deep-purple lighten-2"
                          >
                            <v-icon small>fa-plus-circle</v-icon>
                          </v-btn>
                        </template>
                        <span>Asignar Sucursal</span>
                      </v-tooltip>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr v-if="btnSearch">
                    <td colspan="100" class="text-center py-10">
                      <v-progress-circular
                        :size="30"
                        color="primary"
                        indeterminate
                      ></v-progress-circular>
                      <p>Buscando...</p>
                    </td>
                  </tr>
                  <tr v-if="userList.length == 0 && !btnSearch">
                    <td colspan="100" class="text-center py-10">
                      <v-icon small class="mr-1">fa-info-circle</v-icon>No se encontraron
                      sucursales
                    </td>
                  </tr>
                </tfoot>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="8">
        <v-card>
          <v-card-text>
            <template>
              <v-toolbar flat>
                <v-toolbar-title>Usuarios por sucursal activos</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-text-field
                  md4
                  xs10
                  sm6
                  v-model="text"
                  append-icon="mdi-magnify"
                  label="Buscar"
                  single-line
                  hide-details
                ></v-text-field>
              </v-toolbar>
            </template>

            <v-card-text>
              <v-data-table
                :headers="headers"
                :items="filtered"
                :search="text"
                :loading="btnSearch"
                :loading-text="btnSearch ? 'Buscando... Espere por favor' : ''"
              >
                <template v-slot:item.state="{ item }">
                  <v-chip small v-if="item.id" color="green" dark> Activo </v-chip>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                        @click="editUserBranch(filtered.indexOf(item), item)"
                      >
                        <v-icon small>fas fa-pen</v-icon>
                      </v-btn>
                    </template>
                    <span>Editar</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                        @click="deleteUserOffice(item)"
                      >
                        <v-icon small>fas fa-trash</v-icon>
                      </v-btn>
                    </template>
                    <span>Eliminar</span>
                  </v-tooltip>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <template>
      <v-row justify="center">
        <v-dialog v-model="modal" persistent max-width="500px">
          <v-card>
            <v-card-title>
              <span class="text-h5"> Asignación a sucursal</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-form @submit.prevent="addUserOffice" ref="form">
                <v-row>
                  <v-col cols="12" sm3 class="py-0 mt-4">
                    <v-text-field
                      class="mt-4"
                      readonly
                      label="Nombre usuario"
                      :value="user.name + ' ' + user.lastname"
                    ></v-text-field>

                    <v-select
                      v-model="form.branchOfficeId"
                      :items="branchofficeList"
                      :item-text="'description'"
                      :item-value="'id'"
                      label="Sucursales *"
                      :rules="[(val) => !!val || 'Debe seleccionar la sucursal']"
                    >
                      <template v-slot:selection="{ item }">
                        <span class="d-flex justify-start" style="width: 100%">
                          {{ item.description }}
                        </span>
                      </template>
                    </v-select>
                  </v-col>
                </v-row>
                <v-row class="mb-2 mt-10">
                  <v-spacer></v-spacer>
                  <v-btn color="error" class="mr-1" small @click="closeModal">
                    <v-icon small class="mr-1">fa-times</v-icon>Cerrar
                  </v-btn>
                  <v-btn color="primary" small type="submit" :disabled="btnSave">
                    <v-icon small class="mr-1">fa-save</v-icon>
                    {{ btnSave ? "Guardando..." : "Guardar" }}
                  </v-btn>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-row>
    </template>

    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h6">Eliminar</v-card-title>
        <v-card-text
          >¿Esta seguro que desea eliminar la asignación del usuario:
          {{ currentItem.user.name }} {{ currentItem.user.lastname }}?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="removeUserOffice">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import Action from "@/mixins/Action.js";

export default {
  name: "User-Branchoffice",
  mixins: [Action],
  data: () => ({
    userList: [],
    branchofficeList: [],
    headers: [
      { text: "Nombre vendedor", value: "user.name" },
      { text: "Apellido vendedor", value: "user.lastname" },
      { text: "Sucursal", value: "branchOffice.description" },
      { text: "Estado", value: "state", align: "center" },
      { text: "Acciones", value: "actions", sortable: false, align: "center" },
    ],
    user: {},
    modal: false,
    currentItem: {
      user: {},
    },
    dialogDelete: false,
  }),
  created() {
    this.service = "userbranchoffice";
    this.selfSearch = true;
    this.searchUser();
    this.searchBranchOffice();
  },
  methods: {
    searchUser() {
      this.btnSearch = true;
      this.$http
        .get(`${this.urlBase}/users`)
        .then((r) => {
          this.userList = r.data.list.filter((item) => item.roleId == 2);
          this.btnSearch = false;
        })
        .catch((e) => {
          console.log(e);
          this.btnSearch = false;
        });
    },
    searchBranchOffice() {
      this.btnSearch = true;
      this.$http
        .get(`${this.urlBase}/branchoffice`)
        .then((r) => {
          this.branchofficeList = r.data.list;
          this.btnSearch = false;
        })
        .catch((e) => {
          console.log(e);
          this.btnSearch = false;
        });
    },
    addUserBranch(obj) {
      this.modal = true;
      this.user = obj;
      this.form.userId = obj.id;
    },
    editUserBranch(idx, obj) {
      this.modal = true;
      this.user = obj.user;
      this.edit(idx);
    },
    deleteUserOffice(obj) {
      this.currentItem = obj;
      this.dialogDelete = true;
    },
    removeUserOffice() {
      this.dialogDelete = false;
      this.remove(this.currentItem);
    },
    addUserOffice() {
      if (this.$refs.form.validate()) {
        this.save(this.$refs.form);
        if (this.reg == "") {
          this.modal = false;
        }
      }
    },
    closeModal() {
      this.modal = false;
      this.clean();
      this.$refs.form.resetValidation();
    },
  },
};
</script>
<style lang="sass">
.v-list-item__title
	text-align: left !important
</style>
