<template>
  <div>
    <v-app-bar app clipped-left color="#1E88E5" dark>
      {{ $store.getters.company.description }}
      <v-spacer></v-spacer>
      <v-menu offset-y open-on-hover>
        <template v-slot:activator="{ on, attrs }">
          <v-btn small text v-on="on" v-bind="attrs">
            <span>Menú</span>
            <v-icon x-small class="ml-1" left>fa-chevron-down</v-icon>
          </v-btn>
        </template>
        <v-list class="pa-0">
          <v-list-item class="py-0">
            <v-list-item-title class="py-0">
              <a
                href="javascript:;"
                class="text-decoration-none white--text"
                @click="logout"
              >
                <v-icon small>fa-sign-out-alt</v-icon> Cerrar Sesión</a
              >
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer app v-model="seeBar" clipped class="mt-100">
      <v-list flat>
        <v-list-item-group v-model="selectedItem" color="primary">
          <div v-for="(item, i) in items" :key="i">
            <v-list-item
              v-if="$store.state.user.roleId == item.rol"
              @click="$router.push(item.path)"
            >
              <v-list-item-icon>
                <v-icon medium v-text="item.icon"></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="item.text"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: "Toolbar",
  data: () => ({
    seeBar: null,
    selectedItem: null,
    items: [
      {
        icon: "fa-home",
        text: "Inicio",
        path: "/",
        rol: 1,
      },
      {
        icon: "fa-user",
        text: "Usuarios",
        path: "user",
        rol: 1,
      },
      {
        icon: "fas fa-building",
        text: "Sucursales",
        path: "branchoffice",
        rol: 1,
      },
      {
        icon: "fas fa-box",
        text: "Cajas",
        path: "box",
        rol: 1,
      },
      {
        icon: "fas fa-user",
        text: "Sucursal usuario",
        path: "user-branchoffice",
        rol: 1,
      },
      {
        icon: "fas fa-store-alt-slash",
        text: "Cierre de Caja",
        path: "box-close-seller",
        rol: 2,
      },
    ],
  }),
  methods: {
    logout() {
      this.$store.dispatch("logout").then(() => {
        if (!this.$store.getters.isLoggedIn) {
          this.$router.push({ name: "Login" });
        }
      });
    },
  },
};
</script>
<style scoped lang="sass">
.v-list-item__title
	text-align: left
</style>
